{% extends 'base_content_sidebar.html.twig' %}

{% block sidebar %}

	<li class="nav-item">
		<a class="nav-link" href="#info"><i class="mdi mdi-bugle"></i> {% trans %}Product{% endtrans %} {% trans %}Information{% endtrans %}</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="#images"><i class="mdi mdi-image"></i> {% trans %}Images{% endtrans %}</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="#related"><i class="mdi mdi-transit-connection"></i> {% trans %}RelatedProducts{% endtrans %}</a>
	</li>

	{% if is_granted('ROLE_PERSON_VIEW') or is_granted('ROLE_PERSON_CREATE') or is_granted('ROLE_PERSON_EDIT') or is_granted('ROLE_PERSON_EDIT') %}
	<li class="nav-item">
		<a class="nav-link" href="#ownershipInfos"><i class="mdi mdi mdi-autorenew"></i> {% trans %}Product_lease_lend{% endtrans %}
			{% if data.loan == true  %}
				<span class="badge badge-primary float-right">{% trans %}On loan{% endtrans %}</span>
			{% endif %}
		</a>
	</li>
	{% endif %}

	<li class="nav-item">
		<a class="nav-link" href="#review"><i class="mdi mdi-tooltip-outline"></i> {% trans %}Reviews{% endtrans %}
			{%if data.review is not empty %}
				<span class="badge badge-primary float-right">{{ data.review|length }}</span>
			{% endif %}
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="#history"><i class="mdi mdi-history"></i> {% trans %}Log{% endtrans %}</a>
	</li>

{% endblock %}


{% block body %}
<!-- Page header -->
<div class="d-flex justify-content-between flex-row">
	<div class="p-2">
		<h3>
			{{ data.name }}
			<span class="badge badge-primary">{{ data.category.name }}</span>
			{% if data.loan == true  %}
				<span class="badge badge-secondary">{% trans %}On loan{% endtrans %}</span>
			{% endif %}
		</h3>
	</div>


	<div class="p-2">
		<div class="btn-group btn-group-sm">
			{% if is_granted('ROLE_PRODUCT_VIEW') %}
				<a class="btn btn-primary" href="{{ path('product') }}" role="button"><i class="mdi mdi-window-close"></i> {% trans %}Close{% endtrans %}</a>
			{% endif %}

			{% if is_granted('ROLE_PRODUCT_DELETE') %}
			<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<div class="dropdown-menu">
				{% if is_granted('ROLE_PRODUCT_DELETE') %}
					<a class="dropdown-item" href="{{ path('product_delete', {'id': data.id}) }}"
					   onclick="return confirm('{% trans %}Delete_message{% endtrans %} {{ data.name }}');"><i
								class="mdi mdi-delete text-danger"></i> Verwijderen</a>
				{% endif %}
			</div>
			{%  endif %}
		</div>
	</div>
</div>
<!-- End Page header -->

<!-- Product info -->
<div class="card">
	<div class="card-header" id="info">
			<span class="align-middle">
				<i class="mdi mdi-bugle"></i> {% trans %}Product{% endtrans %} {% trans %}Information{% endtrans %}
			</span>
		{% if is_granted('ROLE_PRODUCT_EDIT') %}
		<a class="btn btn-primary btn-sm float-right" href="{{ path('product_edit', {'id': data.id}) }}" role="button"><i class="mdi mdi-pencil"></i></a>
		{%  endif %}
	</div>

	<div class="card-body">
		{{ include('products/product-info.html.twig', { 'data': data }) }}
	</div>
	<div class="card-footer text-muted small">
		<i class="mdi mdi-account"></i>&nbsp;&nbsp; {{ data.updatedBy }}&nbsp;&nbsp;|&nbsp;&nbsp;
		<i class="mdi mdi-calendar"></i>&nbsp;&nbsp; {{ data.updatedAt |date("d-m-Y  - H:i")}}
	</div>
</div>
<!-- End Product info -->
<br>

<!-- Images -->
<div class="card">
	<div class="card-header" id="images">
		<span class="align-middle">
			<i class="mdi mdi-image"></i> {% trans %}Images{% endtrans %}
			{% if is_granted('ROLE_PRODUCT_CREATE') %}
			<a class="btn btn-primary btn-sm float-right" href="{{ path('image_upload', {'id': data.id} )}}" role="button"><i class="mdi mdi-pencil-plus"></i></a>
			{% endif %}
		</span>
	</div>
	<div class="card-body">
		{{ include('products/product-images.html.twig', { 'data': data }) }}
	</div>
</div>
<!-- End Images -->
<br>

<!-- isRelatedTo -->
<div class="card">
	<div class="card-header" id="related">
<span class="align-middle">
<i class="mdi mdi-transit-connection"></i> {% trans %}RelatedProducts{% endtrans %}
	{% if is_granted('ROLE_PRODUCT_EDIT') %}
<a class="btn btn-primary btn-sm float-right" href="{{ path('product_isRelatedTo_edit', {'id': data.id} )}}" role="button"><i class="mdi mdi-pencil"></i></a>
	{%  endif %}
</span>
	</div>
	<div class="card-body">
		{{ include('products/product-isrelatedto.html.twig', { 'data': data }) }}
	</div>
</div>
<!-- End isRelatedTo -->
<br>

<!-- OwnershipInfos -->
{% if is_granted('ROLE_PERSON_VIEW') or is_granted('ROLE_PERSON_CREATE') or is_granted('ROLE_PERSON_EDIT') or is_granted('ROLE_PERSON_EDIT') %}
	<div class="card">
		<div class="card-header" id="ownershipInfos">
		<span class="align-middle">
			<i class="mdi mdi mdi-autorenew"></i> {% trans %}Product_lease_lend{% endtrans %}
	{% if is_granted('ROLE_PERSON_CREATE') %}
			<a class="btn btn-primary btn-sm float-right {% if data.loan == true  %}disabled{% endif %}
	" href="{{ path( 'ownership_info_create', {'id': data.id} ) }}" role="button"><i class="mdi mdi-pencil-plus"></i></a>
		{%  endif %}
		</span>
		</div>
		<div class="card-body">
			{{ include('products/product-ownershipInfo.html.twig', { 'data': data }) }}
		</div>
	</div>
	<br>
{% endif %}
<!-- End OwnershipInfos -->


<!-- Review -->
<div class="card">
	<div class="card-header" id="review">
			<span class="align-middle">
				<i class="mdi mdi-tooltip-outline"></i> {% trans %}Reviews{% endtrans %}
				{% if is_granted('ROLE_PRODUCT_EDIT') %}
				<a class="btn btn-primary btn-sm float-right" href="{{ path( 'review_create', {'entity': 'product', 'id': data.id} ) }}" role="button"><i class="mdi mdi-pencil-plus"></i></a>
				{% endif %}
			</span>
	</div>
	<div class="card-body">
		{{ include('global/review.html.twig', { 'data': data }) }}
	</div>
</div>
<!-- End Review -->
<br>

<!-- Log -->
<div class="card">
	<div class="card-header" id="history">
			<span class="align-middle">
				<i class="mdi mdi-history"></i> {% trans %}Log{% endtrans %}
			</span>
	</div>
	<div class="card-body">
		{{ include('global/logs.html.twig', { 'data': logs }) }}
	</div>
</div>
<!-- End Log -->

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<script type="text/javascript">
		$(document).ready(function () {

			//Datatable datatable-isRelatedTo
			var table = $('#datatable-isRelatedTo').DataTable({
				lengthChange: false,
				pageLength: 10,
				{% if is_granted('ROLE_PRODUCT_EDIT') or is_granted('ROLE_PRODUCT_DELETE') %}
				columnDefs: [
					{"orderable": false, "targets": 0}
				],
				order: [[1, "asc"]],
				{%  else %}
				columnDefs: [
					{"orderable": true, "targets": 0}
				],
				order: [[0, "asc"]],
				{%  endif %}
				{% if app.request.getLocale() == 'nl' %}
				language: {
					url: "{{ asset('assets/plugins/datatables/nl_NL.json') }}"
				},
				{%  endif %}
			});
			// End datatable datatable-isRelatedTo

			//Datatable datatable-ownershipInfos
			var table = $('#datatable-ownershipInfos').DataTable({
				lengthChange: false,
				pageLength: 10,
				{% if is_granted('ROLE_PERSON_EDIT') or is_granted('ROLE_PERSON_DELETE') %}
				columnDefs: [
					{"orderable": false, "targets": 0}
				],
				order: [[1, "asc"]],
				{%  else %}
				columnDefs: [
					{"orderable": true, "targets": 0}
				],
				order: [[0, "asc"]],
				{%  endif %}
				{% if app.request.getLocale() == 'nl' %}
				language: {
					url: "{{ asset('assets/plugins/datatables/nl_NL.json') }}"
				},
				{%  endif %}
			});
			// End datatable datatable-ownershipInfos

			//Datatable review
			var table = $('#datatable-review').DataTable({
				lengthChange: false,
				pageLength: 10,
				{% if is_granted('ROLE_PRODUCT_EDIT') or is_granted('ROLE_PRODUCT_DELETE') %}
				columnDefs: [
					{"orderable": false, "targets": 0}
				],
				order: [[2, "asc"]],
				{%  else %}
				columnDefs: [
					{"orderable": true, "targets": 0}
				],
				order: [[1, "asc"]],
				{%  endif %}
				{% if app.request.getLocale() == 'nl' %}
				language: {
					url: "{{ asset('assets/plugins/datatables/nl_NL.json') }}"
				},
				{%  endif %}
			});
			// End datatable review

			//Datatable Logs
			var table = $('#datatable-logs').DataTable({
				lengthChange: false,
				pageLength: 10,
				columnDefs: [
					{
						orderable: false,
						targets: 0
					}
				],
				order: [[ 2, "desc" ]],
				{% if app.request.getLocale() == 'nl' %}
				language: {
					url: "{{ asset('assets/plugins/datatables/nl_NL.json') }}"
				},
				{%  endif %}
			});
			// End datatable logs

			$(document).on('click', 'a[href^="#"]', function (event) {
				event.preventDefault();

				$('html, body').animate({
					scrollTop: $($.attr(this, 'href')).offset().top - 20
				}, 800);
			});

		});
	</script>

	<script language="JavaScript">jQuery ( document ).ready ( function($) {

			var hash= window.location.hash

			if ( hash == '' || hash == '#' || hash == undefined ) return false;

			var target = $(hash);

			headerHeight = 120;

			target = target.length ? target : $('[name=' + this.hash.slice(1) +']');

			if (target.length) {
				$('html,body').stop().animate({
					scrollTop: target.offset().top - 20 //offsets for fixed header
				}, 0);
			}
		} );
	</script>

	<script>
		function display() {
			var x = document.getElementById("myFile").name;
			alert("The name of the file button is: " + x);
		}
	</script>
{% endblock %}