{% extends 'base.html.twig' %}

{% block title %}Producten{% endblock %}


{% block body %}
	<div class="row align-items-center">
        <div class="col">
	        <h2>{{ data.name }}&nbsp;<span class="badge badge-purple">{{ data.categorie.name }}</span>
		    
	        {% if data.loan == true  %}       
		        <span class="badge badge-pink">In Bruikleen</span>
		    {% endif %}
	        
	        </h2>
        </div>
        
        <div class="col-4  ">
	        <div class="btn-group float-right">
	        	<a href="{{ path('app_product_edit', {'id': data.id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-pencil"></i>  Bewerken</a>
	        	<a href="{{ path('app_product_delete', {'id': data.id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-trash"></i>  Delete</a>
				<a href="{{ path('app_products') }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
	        </div>
        </div>
        
	</div>
	
    <!-- Card Box -->
    <div id="accordion">
		<div class="card">
	        <div class="card-header" id="headingOne">
	            <h4 class="m-0">
	                <a href="#collapseOne" class="text-dark" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
	                    Productgegevens
	                </a>
	            </h4>
	        </div>
	
	        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
	            <div class="card-body">
	                <table class="table table-bordered table-striped">   
			            <tbody>
				            <tr>
				                <td width="20%"><b>Naam</b></td>
				                <td width="70%">{{ data.name }}</td>
				            </tr>
				            <tr>
				                <td><b>Serienummer</b></td>
				                <td>{{data.productID}}</td>
				            </tr>
				            <tr>
				                <td><b>Model</b></td>
				                <td>{{data.model}}</td>
				            </tr>
				            <tr>
				                <td><b>Fabrikant</b></td>
				                <td>{{data.manufacturer}}</td>
				            </tr>
				            <tr>
				                <td><b>Omschrijving</b></td>
				                <td>{{data.description }}</td>
				            </tr>
				            <tr>
				                <td><b>Aankoopdatum</b></td>
				                <td>{{data.purchaseDate | date("d-m-Y") }}</td>
				            </tr>
				            <tr>
				                <td><b>Type Product</b></td>
				                <td>
					                {% if data.uniqueProduct == true  %}       
								    	Uniek
								    {% endif %}
								    {% if data.uniqueProduct == false  %}       
								    	Meerdere
								    {% endif %}

				                
				                
				                </td>
				            </tr>
			            </tbody>
			        </table>
	            </div>
	        </div>
	    </div>
	</div>

    <br>
    <!-- Details -->
    
    <ul class="nav nav-tabs nav-justified">
        
        <li class="nav-item">
            <a href="#reviews" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_product' ? 'active' }}">
                Notities
            </a>
        </li>
        
        {%if data.ownershipInfos is not empty %}
        <li class="nav-item">
            <a href="#owns" data-toggle="tab" aria-expanded="true" class="nav-link">
                Bruikleen
            </a>
        </li>
        {% endif %} 
        
        <li class="nav-item">
            <a href="#relatedTo" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_product_isRelatedTo' ? 'active' }}">
                Gerelateerde producten
            </a>
        </li>
    </ul>
		    
		    
	<div class="card">
	    <div class="tab-content">
	    	<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_product' ? 'show active' }}" id="reviews">
			
				{{ include('Review/reviews.html.twig', { 
					'data': data
				}) }}
				
			</div>
			
			<div role="tabpanel" class="tab-pane fade" id="owns">
			
{%if data.ownershipInfos is not empty %}
<table class="table table-bordered table-striped">   
    <tbody>
        <thead>
            <tr>
            	<td><b>Gebruiker</b></td>
            	<td><b>In bezit vanaf</b></td>
            	<td><b>In bezit tot</b></td>
        	</tr>
        </thead>
			
			    {% for owns in data.ownershipInfos %}
			        <tr>
			            
			            <td>
			            {% if owns.person.id is defined %}
			            	<a href="{{ path('app_person_owns', {'id': owns.person.id}) }}">{{ owns.person.familyName }}, {{ owns.person.givenName }} {{ owns.person.additionalName }}</a>
                        {% endif %}
                        {% if owns.organization.id is defined %}
							<a href="{{ path('app_organization_owns', {'id': owns.organization.id}) }}">{{ owns.organization.legalName }}
                        {% endif %}
                        
				            
				            
			            </td>
			            <td>
				            {{ owns.ownedFrom |date("d-m-Y")}}
			            </td>
						<td>
				            {{ owns.ownedTrough ? owns.ownedTrough|date('d-m-Y') }}
			            </td>    
			        </tr>
			    {% endfor %} 
			   
    </tbody>
</table>
{% endif %} 
					
			</div>
			
			<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_product_isRelatedTo' ? 'show active' }}" id="relatedTo">
        
				    {{ include('/product_related_to/isrelatedto.html.twig', {
					'data': data })
				}} 
	        
    		</div>

			
	    </div>
	</div>
	<br>
    
    
    
    
    
{% endblock %}