{% extends 'base.html.twig' %}


{% block stylesheets %}

{{ parent() }}

	<!-- DataTables -->
    <link href="{{ asset('assets/plugins/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    
    <style>
	.card-drop {
	    color: $muted;
	    font-size: 18px !important;
	    height: 0px !important;
	    line-height: 0px !important;
	    display: inline-block;
	}
	</style>
    
{% endblock %}       
        

{% block title %}<i class="mdi mdi-wrench"></i> Inventaris{% endblock %}


{% block body %}

<div class="row align-items-center">
        <div class="col">
	        <h2>Inventaris</h2>
        </div>
        
        <div class="col-4  ">
        {% if is_granted('ROLE_PRODUCT_CREATE') %}
	        <div class="btn-group float-right">
	        	<a href="{{ path('app_product_create') }}" class="btn btn-purple waves-effect"><i class="fa fa-plus"></i>  Nieuw</a>
	        </div>
	    {% endif %} 
        </div>
        
	</div>
	
	<ul class="nav nav-tabs nav-justified"> 
		<li class="nav-item">
            <a href="{{ path('app_products', {'query': 'all'}) }}" data-toggle="link" aria-expanded="true" class="nav-link {% if query == 'all' %}active {% endif %}">
                Alle inventaris
            </a>
        </li>
		
		{% for data in category %}
	    <li class="nav-item">
            <a href="{{ path('app_products', {'query': data.id}) }}" data-toggle="link" aria-expanded="true" class="nav-link {% if query == data.id %}active {% endif %}">
                {{ data.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
	<div class="row">
        <div class="col-12">
            <div class="card-box table-responsive">
	            
	            <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                    <tr>
                    	<th align="center" valign="bottom" width="20"></th>
                       <th>Product</th>
                       <th>Model</th>
                       <th>Fabrikant</th>
                       <th>Type</th>
						<th>Bruikleen</th>
                       <th>Categorie</th>
                    </tr>
                    </thead>


                    <tbody>
                    {% for data in data %}
						<tr>
							<td>
								<!-- Dropdown -->
						    	{% if is_granted('ROLE_PRODUCT_EDIT') or is_granted('ROLE_PRODUCT_DELETE') %}
							    <div class="dropdown pull-right">
                                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal"></i>
                                    </a>
                                    
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <!-- item-->
                                        {% if is_granted('ROLE_PRODUCT_EDIT') %}
                                        <a href="{{ path('app_product_edit', {'id': data.id}) }}" class="dropdown-item"><i class="mdi mdi-pencil"></i> Bewerken</a>
                                        {% endif %}
                                        <!-- item-->
                                        {% if is_granted('ROLE_PRODUCT_DELETE') %}
                                        <a href="{{ path('app_product_delete', {'id': data.id}) }}" class="dropdown-item"><i class="mdi mdi-delete text-danger"></i> Verwijderen</a>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                                <!-- End Dropdown -->
							</td>
						    <td style="padding-bottom: 0px;">
							    <a href="{{ path('app_product', {'id': data.id}) }}" class="waves-effect">{{ data.name }}</a>
						    </td>
						    <td>{{ data.model }}</td>
						    <td>{{ data.manufacturer }}</td>
						    <td>
						    	{% if data.uniqueProduct == true  %}       
							        Uniek
							    {% endif %}
							    {% if data.uniqueProduct == false  %}       
							        Meerdere
							    {% endif %}
						    
						    </td>
						    <td>
						    	{% if data.loan == true  %}       
							        <span class="badge badge-pink">In Bruikleen</span>
							    {% endif %}
							</td>
						    <td><span class="badge badge-purple">{{ data.category.name }}</span></td></td>
						</tr>

					{% endfor %}
                    
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
    <!-- end row -->

{% endblock %}

{% block javascripts %}

	{{ parent() }}

    <!-- Required datatable js -->

    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>
    
    <!-- Buttons examples -->
    <script src="{{ asset('assets/plugins/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.print.min.js') }}"></script>
    

    <!-- Key Tables -->
    <script src="{{ asset('assets/plugins/datatables/dataTables.keyTable.min.js') }}"></script>


    <script type="text/javascript">
        $(document).ready(function () {

                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    "columnDefs": [
					    { "orderable": false, "targets": 0 }
					  ],
                    "order": [[ 1, "asc" ]],
                    buttons: [
	                    {
			                extend: 'csv',
			                exportOptions: {
			                    columns: [ 1, 2, 3, 4, 5, 6]
			                }
		                },
	                    {
			                extend: 'print',
			                exportOptions: {
			                    columns: [ 1, 2, 3, 4, 5, 6]
			                }
		                },
	                    {
			                extend: 'pdfHtml5',
			                exportOptions: {
			                    columns: [ 1, 2, 3, 4, 5, 6]
							}
						}] 
                });

                table.buttons().container()
                    .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });
    </script>
    
{% endblock %}