{% extends 'base.html.twig' %}

{% block stylesheets %}
	
{{ parent() }}

	<!-- DataTables -->
    <link href="{{ asset('assets/plugins/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    
    
    <style>
	.card-drop {
	    color: $muted;
	    font-size: 20px !important;
	    height: 0px !important;
	    line-height: 22px !important;
	    display: inline-block;
	}
	</style>

{% endblock %}

{% block title %}<i class="mdi mdi-wrench"></i> Inventaris{% endblock %}


{% block body %}
	<div class="row align-items-center">
        <div class="col">
	        <h2>{{ data.name }}&nbsp;<span class="badge badge-purple">{{ data.category.name }}</span>
		    
	        {% if data.loan == true  %}       
		        <span class="badge badge-pink">In Bruikleen</span>
		    {% endif %}
	        
	        </h2>
        </div>
        
        <div class="col-4  ">
	        <div class="btn-group float-right">
	        {% if is_granted('ROLE_PRODUCT_EDIT') %}
	        	<a href="{{ path('app_product_edit', {'id': data.id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-pencil"></i>  Bewerken</a>
	        {% endif %}
	        {% if is_granted('ROLE_PRODUCT_DELETE') %}
	        	<a href="{{ path('app_product_delete', {'id': data.id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-trash"></i>  Delete</a>
	        {% endif %}
				<a href="{{ path('app_products') }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
	        </div>
        </div>
        
	</div>
	
    <!-- Card Box -->
    <div id="accordion">
		<div class="card">
	        <div class="card-header" id="headingOne">
	            <h4 class="m-0">
	                <a href="#collapseOne" class="text-dark" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
	                    Productgegevens
	                </a>
	            </h4>
	        </div>
	
	        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
	            <div class="card-body">
	                <table class="table table-bordered table-striped">   
			            <tbody>
				            <tr>
				                <td width="20%"><b>Naam</b></td>
				                <td width="70%">{{ data.name }}</td>
				            </tr>
				            <tr>
				                <td><b>Serienummer</b></td>
				                <td>{{data.productID}}</td>
				            </tr>
				            <tr>
				                <td><b>Model</b></td>
				                <td>{{data.model}}</td>
				            </tr>
				            <tr>
				                <td><b>Fabrikant</b></td>
				                <td>{{data.manufacturer}}</td>
				            </tr>
				            <tr>
				                <td><b>Omschrijving</b></td>
				                <td>{{data.description }}</td>
				            </tr>
				            <tr>
				                <td><b>Aankoopdatum</b></td>
				                <td>{{data.purchaseDate | date("d-m-Y") }}</td>
				            </tr>
				            <tr>
				                <td><b>Asset tag</b></td>
				                <td>{{data.identifier}}</td>
				            </tr>
				            <tr>
				                <td><b>Type Product</b></td>
				                <td>
					                {% if data.uniqueProduct == true  %}       
								    	Uniek
								    {% endif %}
								    {% if data.uniqueProduct == false  %}       
								    	Meerdere
								    {% endif %}

				                
				                
				                </td>
				            </tr>
			            </tbody>
			        </table>
	            </div>
	        </div>
	    </div>
	</div>

    <br>
    <!-- Details -->
    
    <ul class="nav nav-tabs nav-justified">
        
        <li class="nav-item">
            <a href="#reviews" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_product' ? 'active' }}">
                Notities <span class="badge badge-purple">{{ data.review|length }}</span>
            </a>
        </li>
        
        {%if data.ownershipInfos is not empty %}
        <li class="nav-item">
            <a href="#owns" data-toggle="tab" aria-expanded="true" class="nav-link">
                Bruikleen <span class="badge badge-purple">{{ data.ownershipInfos|length }}</span>
            </a>
        </li>
        {% endif %} 
        
        <li class="nav-item">
            <a href="#relatedTo" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_product_isRelatedTo' ? 'active' }}">
                Gerelateerde producten <span class="badge badge-purple">{{ data.isRelatedTo|length }}</span>
            </a>
        </li>
    </ul>
		    
		    
 <div class="card-box tab-content">
	    	<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_product' ? 'show active' }}" id="reviews">
			
				{{ include('review/reviews.html.twig', { 
					'data': data
				}) }}
				
			</div>
			
			<div role="tabpanel" class="tab-pane fade" id="owns">
			
{%if data.ownershipInfos is not empty %}
<table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">  
    
        <thead>
            <tr>
            	<th><b>Gebruiker</b></th>
            	<th><b>In bezit vanaf</b></th>
            	<th><b>In bezit tot</b></th>
        	</tr>
        </thead>
			<tbody>
			
			    {% for owns in data.ownershipInfos %}
			        <tr>
			            
			            <td>
			            {% if owns.person.id is defined %}
			            	<a href="{{ path('app_person_owns', {'id': owns.person.id}) }}">{{ owns.person.familyName }}, {{ owns.person.givenName }} {{ owns.person.additionalName }}</a>
                        {% endif %}
                        {% if owns.organization.id is defined %}
							<a href="{{ path('app_organization_owns', {'id': owns.organization.id}) }}">{{ owns.organization.legalName }}
                        {% endif %}
                        
				            
				            
			            </td>
			            <td>
				            {{ owns.ownedFrom |date("d-m-Y")}}
			            </td>
						<td>
				            {{ owns.ownedTrough ? owns.ownedTrough|date('d-m-Y') }}
			            </td>    
			        </tr>
			    {% endfor %} 
			   
    </tbody>
</table>
{% endif %} 
					
			</div>
			
			<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_product_isRelatedTo' ? 'show active' }}" id="relatedTo">
        
				    {{ include('/product_related_to/isrelatedto.html.twig', {
					'data': data })
				}} 
	        
    		</div>

			
	    </div>

    
    
    
    
{% endblock %}

{% block javascripts %}

	{{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {

                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    "pageLength": 50,
                    "columnDefs": [
					    { "orderable": false, "targets": 0 }
					  ],
                    "order": [[ 0, "asc" ]],
                    buttons: [
	                    {
			                extend: 'csv',
			                exportOptions: {
			                    columns: [ 0, 1, 2]
			                }
		                },
	                    {
			                extend: 'print',
			                exportOptions: {
			                    columns: [ 0, 1, 2]
			                }
		                },
	                    {
			                extend: 'pdfHtml5',
			                exportOptions: {
			                    columns: [ 0, 1, 2]
							}
						}] 
                });

                table.buttons().container()
                    .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });
    </script>
    
{% endblock %}