<div class="row align-items-center">
	<div class="col">
	    <h3>Producten in bruikleen</h3>
    </div>
        
    <div class="col-4  ">
    {% if is_granted('ROLE_PRODUCT_CREATE') %}
	    <div class="btn-group float-right">
	    	{% if 'person' in app.request.uri %}
	    		<a href="{{ path( 'app_owns_create', {'entity': 'person', 'id': data.id} ) }}" class="btn btn-trans btn-sm btn-purple waves-effect"><i class="fa fa-plus"></i></a>
	    	{% endif %}
	    	{% if 'organization' in app.request.uri %}
	    		<a href="{{ path( 'app_owns_create', {'entity': 'organization', 'id': data.id} ) }}" class="btn btn-trans btn-sm btn-purple waves-effect"><i class="fa fa-plus"></i></a>
	    	{% endif %}
	    </div>
	{% endif %}
    </div>
        
</div>
{%if data.owns is not empty %}
<table class="table table-bordered table-striped">   
    <tbody>
        <thead>
            <tr>
            	<td><b>Product</b></td>
            	<td><b>Model</b></td>
            	<td><b>Fabrikant</b></td>
            	<td><b>In bezit vanaf</b></td>
            	<td><b>In bezit tot</b></td>
        	</tr>
        </thead>
    {% for owns in data.owns %}
        <tr>
            <td>
            	<a href="{{ path('app_product', {'id': owns.typeofGood.id}) }}">{{ owns.typeofGood.name }}</a>
            	
	            
	            <!-- Dropdown -->
	            {% if is_granted('ROLE_PRODUCT_EDIT') or is_granted('ROLE_PRODUCT_DELETE') %}
			    <div class="dropdown pull-right">
                    <a href="" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-horizontal"></i>
                    </a>
                    
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        {% if 'person' in app.request.uri %}
                        {% if is_granted('ROLE_PRODUCT_EDIT') %}
                        	<a href="{{ path('app_owns_edit', {'entity': 'person', 'id': data.id, 'ownershipInfoID': owns.id}) }}" class="dropdown-item">Bewerken</a>		<!-- item-->
                        	{% endif %}
                        	{% if is_granted('ROLE_PRODUCT_DELETE') %}
							<a href="{{ path('app_owns_delete', {'entity': 'person', 'id': data.id, 'ownershipInfoID': owns.id}) }}" class="dropdown-item">Verwijderen</a>
						{% endif %}
                        {% endif %}
                        
                        {% if 'organization' in app.request.uri %}
                        {% if is_granted('ROLE_PRODUCT_EDIT') %}
                        	<a href="{{ path('app_owns_edit', {'entity': 'organization', 'id': data.id, 'ownershipInfoID': owns.id}) }}" class="dropdown-item">Bewerken</a>		{% endif %}
                        {% if is_granted('ROLE_PRODUCT_DELETE') %}
                        <!-- item-->
							<a href="{{ path('app_owns_delete', {'entity': 'organization', 'id': data.id, 'ownershipInfoID': owns.id}) }}" class="dropdown-item">Verwijderen</a>
						{% endif %}	
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                
            </td>
            <td>
            	{{ owns.typeofGood.model }}
            </td>
            <td>
	            {{ owns.typeofGood.manufacturer }}
            </td>
            <td>
	            {{ owns.ownedFrom |date("d-m-Y")}}
            </td>
			<td>
	            {{ owns.ownedTrough ? owns.ownedTrough|date('d-m-Y') }}
            </td>
            
            
        </tr>
    {% endfor %} 
   
    </tbody>
</table>
{% endif %} 