{% extends 'base.html.twig' %}

{% block title %}<i class="mdi mdi-account-multiple"></i> Personen{% endblock %}

{% block stylesheets %}
	
    <link href="{{ asset('assets/plugins/select2/css/select2.css') }}" rel="stylesheet" type="text/css" />
    
    {{ parent() }}
  
{% endblock %}


{% block body %}

 	{{ form_start(form) }}
	<div class="row align-items-center">
        <div class="col">
	       	
	       	{% if 'create' in app.request.uri  %}
	       		<h2>Muziekinstrument toevoegen</h2>
	        {% endif %}
	        {% if 'edit' in app.request.uri  %}
	       		<h2>Muziekinstrument bewerken</h2>
	        {% endif %}
	        
        </div>
        
        <div class="col-4  ">
	        <div class="btn-group float-right">
	        	<button type="submit" class="btn btn-purple waves-effect"><i class="fa fa-save"></i>  Opslaan</button>
				<a href="{{ path('app_person_musicalInstrument', {'id': id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
	        </div>
        </div>
        
	</div>
	
    <!-- Card Box -->
    <div class="card-box table-responsive">
	    
	    {{ form_widget(form) }}
		{{ form_end(form) }}
            
    </div>      
{% endblock %}

{% block javascripts %}

	{{ parent() }}
	
    <script type="text/javascript" src="{{ asset('assets/plugins/select2/js/select2.min.js') }}"></script>
    
    <script>
	    $(document).ready(function(){
	        $('.select2').select2();
	    });
	</script>
    
{% endblock %}