<div class="row align-items-center">
	<div class="col">
	    <h3>Aanbod</h3>
    </div>
        
    <div class="col-4  ">
    	{% if is_granted('ROLE_SERVICES_CREATE') %}
	    <div class="btn-group float-right">
	    	<a href="{{ path( 'app_offer_create', {'entity': 'service', 'id': data.id} ) }}" class="btn btn-trans btn-sm btn-purple waves-effect"><i class="fa fa-plus"></i></a>
	    </div>
	    {% endif %}
    </div>
        
</div>
{%if data.offers is not empty %}
<table class="table table-bordered table-striped">   
    <tbody>
        <thead>
            <tr>
            	<td><b>Aanbod</b></td>
            	<td><b>Prijs</b></td>	
            	<td><b>Voorraadstatus</b></td>
            	<td><b>Voorraad</b></td>
            	<td><b>Aanbod beschikbaar (van / tot)</b></td>
            	<td><b>Product beschikbaar (van / tot)</b></td>
        	</tr>
        </thead>
    {% for offers in data.offers %}
        <tr>
            <td>
            	{{ offers.alternateName }}
            	
	            <!-- Dropdown -->
		    	{% if is_granted('ROLE_SERVICES_EDIT') or is_granted('ROLE_SERVICES_DELETE') %}
			    <div class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-horizontal"></i>
                    </a>
                    
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        {% if is_granted('ROLE_SERVICES_EDIT') %}
                        <a href="{{ path('app_offer_edit', {'id': data.id, 'offerID': offers.id}) }}" class="dropdown-item">Bewerken</a>
                        {% endif %}
                        <!-- item-->
                        {% if is_granted('ROLE_SERVICES_DELETE') %}
                        <a href="{{ path('app_offer_delete', {'id': data.id, 'offerID': offers.id}) }}" class="dropdown-item">Verwijderen</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <!-- End Dropdown -->
                
            </td>
            <td>
            	€ {{ offers.price|number_format(2, '.','') }}
            </td>
            <td>
	            {{ offers.availability }}
            </td>
            <td>
	            {{ offers.inventoryLevel }}
            </td>
            <td>
	            {{ offers.validFrom is empty ? "" : offers.validFrom|date("d-m-Y") }} -  
	            {{ offers.validThrough is empty ? "" : offers.validThrough|date("d-m-Y") }}
            </td>
			<td>
				{{ offers.availabilityStarts is empty ? "" : offers.availabilityStarts|date("d-m-Y") }} -  
	            {{ offers.availabilityEnds is empty ? "" : offers.availabilityEnds|date("d-m-Y") }}
            </td>
            
            
        </tr>
    {% endfor %} 
   
    </tbody>
</table>
{% endif %} 