{% extends 'base.html.twig' %}

{% block stylesheets %}
	
{{ parent() }}

	<!-- DataTables -->
    <link href="{{ asset('assets/plugins/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    
    
    <style>
	.card-drop {
	    color: $muted;
	    font-size: 20px !important;
	    height: 0px !important;
	    line-height: 22px !important;
	    display: inline-block;
	}
	</style>

{% endblock %}

{% block title %}<i class="mdi mdi-account-multiple"></i> Personen{% endblock %}

{% block body %}

	<div class="row align-items-center">
        <div class="col">
	        <h2>Personen</h2>
        </div>
        
        <div class="col-4  ">
       
        	{% if is_granted('ROLE_PERSON_CREATE') %}
            <div class="btn-group float-right">  
	        	<a href="{{ path('app_person_create') }}" class="btn btn-purple waves-effect"><i class="fa fa-plus"></i>  Nieuw</a>
	        </div>
			{% endif %}    
        </div>
	</div>
	
	<ul class="nav nav-tabs nav-justified"> 
		<li class="nav-item">
            <a href="{{ path('app_people', {'query': 'all'} ) }}" data-toggle="link" aria-expanded="true" class="nav-link {% if query == 'all' or query == null %}active {% endif %}">
                Alle personen
            </a>
        </li>
		
		{% for data in category %}
	    <li class="nav-item">
            <a href="{{ path('app_people', {'query': data.id}) }}" data-toggle="link" aria-expanded="true" class="nav-link {% if query == data.id %}active {% endif %}">
                {{ data.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
	
	<div class="row">
        <div class="col-12">
            <div class="card-box table-responsive">
	             <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                    <tr>
                    	 <th align="center" valign="bottom" width="20"></th>
                        <th>Naam</th>
                        <th>Email</th>
                        <th>Telefoon</th>
                        <th>Mobiel</th>
                        <th>Adres</th>
                        <th>Categorie</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for data in data %}
						<tr>
							<td align="center" valign="bottom" width="10">
								
								<!-- Dropdown -->
						    	{% if is_granted('ROLE_PERSON_EDIT') or is_granted('ROLE_PERSON_DELETE') %}
						    	<div class="dropdown">
							    
                                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                               
                                    <div class="dropdown-menu dropdown-menu-right"> 
                                        <!-- item-->
                                        {% if is_granted('ROLE_PERSON_EDIT') %}
                                        <a href="{{ path('app_person_edit', {'id': data.id}) }}" class="dropdown-item"><i class="mdi mdi-pencil"></i> Bewerken</a>
                                        {% endif %}
                                        
                                        <!-- item-->
                                        {% if is_granted('ROLE_PERSON_DELETE') %}
                                        <a href="{{ path('app_person_delete', {'id': data.id}) }}" class="dropdown-item"><i class="mdi mdi-delete text-danger"></i> Verwijderen</a>
                                        {% endif %}
                                    </div>
                                </div> 
 								{% endif %}
								<!-- End Dropdown -->
                            
							</td>
							
						    <td>
							    <a href="{{ path('app_person', {'id': data.id}) }}">{{ data.familyName }}, {{ data.givenName }} {{ data.additionalName }}</a>
						    </td>
						    
						    <td>{{ data.email }}</td>
						    <td>{{data.telephone}}</td>
						    <td>{{data.telephone2}}</td>
						    <td>{{data.streetAddress}}{% if data.streetAddress != null %},{% endif %} {{data.addressLocality}}</td>
						   
						    
						    <td><span class="badge badge-purple">{{ data.category.name }}</span></td>
						</tr>
					{% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
    <!-- end row -->

{% endblock %}

{% block javascripts %}

	{{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {

                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    "pageLength": 50,
                    "columnDefs": [
					    { "orderable": false, "targets": 0 }
					  ],
                    "order": [[ 1, "asc" ]],
                    buttons: [
	                    {
			                extend: 'csv',
			                exportOptions: {
			                    columns: [ 1, 2, 3, 4, 5 ]
			                }
		                },
	                    {
			                extend: 'print',
			                exportOptions: {
			                    columns: [ 1, 2, 3, 4, 5 ]
			                }
		                },
	                    {
			                extend: 'pdfHtml5',
			                exportOptions: {
			                    columns: [ 1, 2, 3, 4, 5 ]
							}
						}] 
                });

                table.buttons().container()
                    .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });
    </script>
    
{% endblock %}