{% extends 'base.html.twig' %}

{% block stylesheets %}
	
{{ parent() }}

	<!-- DataTables -->
    <link href="{{ asset('assets/plugins/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    
    
    <style>
	.card-drop {
	    color: $muted;
	    font-size: 20px !important;
	    height: 0px !important;
	    line-height: 22px !important;
	    display: inline-block;
	}
	</style>

{% endblock %}

{% block title %}<i class="mdi mdi-account-multiple"></i> Personen{% endblock %}

{% block body %}

<!-- Dropdown -->							
	<div class="row align-items-center">
        <div class="col">
	        <h2>{{ data.familyName }}, {{data.givenName }} {{ data.additionalName }}
		        <span class="badge badge-purple">{{ data.category.name }}</span>
		        
		        {% if data.alumni == true  %}       
		        <span class="badge badge-success">Oud Lid</span>
		        {% endif %}
		    </h2>
        </div>
        
        <div class="col-4  ">
	        <div class="btn-group float-right">
	        	{% if is_granted('ROLE_PERSON_EDIT') %}
	        	<a href="{{ path('app_person_edit', {'id': data.id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-pencil"></i>  Bewerken</a>
	        	{% endif %}
	        	{% if is_granted('ROLE_PERSON_DELETE') %}
	        	<a href="{{ path('app_person_delete', {'id': data.id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-trash"></i>  Delete</a>
	        	{% endif %}
				<a href="{{ path('app_people') }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
	        </div>
        </div>
	</div>
	
	<!-- Person details -->
	<div id="accordion">
		<div class="card">
	        <div class="card-header" id="headingOne">
	            <h4 class="m-0">
	                <a href="#collapseOne" class="text-dark" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
	                    Persoonsgegevens
	                </a>
	            </h4>
	        </div>
	
	        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
	            <div class="card-body">
	                <table class="table table-bordered table-striped">   
			            <tbody>
				            <tr>
				                <td width="20%"><b>Naam</b></td>
				                <td width="70%">{{ data.familyName }}, {{data.givenName }} {{ data.additionalName }}</td>
				            </tr>
				            <tr>
				                <td><b>Geboortedatum</b></td>
				                <td>{{ data.birthDate ? data.birthDate | date('d-m-Y') }}</td>
				            </tr>
				            <tr>
				                <td><b>Geslacht</b></td>
				                <td>{{data.gender}}</td>
				            </tr>
				            <tr>
				                <td><b>Email</b></td>
				                <td><a href="mailto:{{data.email}}" target="_blank">{{data.email}}</a></td>
				            </tr>
				            <tr>
				                <td><b>Telefoon</b></td>
				                <td>{{data.telephone}}</td>
				            </tr>
				            <tr>
				                <td><b>Mobiel</b></td>
				                <td>{{data.telephone2}}</td>
				            </tr>
			
				            <tr>
				                <td><b>Straat</b></td>
				                <td>{{data.streetAddress}}</td>
				            </tr>
				            <tr>
				                <td><b>Postcode</b></td>
				                <td>{{data.postalCode}}</td>
				            </tr>
				            <tr>
				                <td><b>Woonplaats</b></td>
				                <td>{{data.addressLocality}}</td>
				            </tr>
				            <tr>
				                <td><b>Land</b></td>
				                <td>{{data.addressCountry}}</td>
				            </tr>
			            </tbody>
			        </table>   
	            </div>
	        </div>
	    </div>
	</div>

    <br>
	
	<!-- Details -->
    
    <ul class="nav nav-tabs nav-justified">
	    
	    
	    <li class="nav-item">
            <a href="#reviews" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_person' ? 'active' }}">
                Notities <span class="badge badge-purple">{{ data.review|length }}</span>
            </a>
        </li>
        
	    {% if data.category.id == 1 or data.alumni == true  %}
	    
	    <li class="nav-item">
            <a href="#parents" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_person_parents' ? 'active' }}">
                Ouders <span class="badge badge-purple">{{ data.parents|length }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#membership" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_person_membership' ? 'active' }}">
                Lidmaatschap
            </a>
        </li>
        <li class="nav-item">
            <a href="#musicalInstrument" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_person_musicalInstrument' ? 'active' }}">
                Instrument
            </a>
        </li>
        <li class="nav-item">
            <a href="#education" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_person_education' ? 'active' }}">
                Opleiding <span class="badge badge-purple">{{ data.education|length }}</span>
            </a>
        </li>
        
        {% endif %}
        
        <li class="nav-item">
            <a href="#roles" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_person_memberOf' ? 'active' }}">
                Rollen <span class="badge badge-purple">{{ data.memberOf|length }}</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="#products" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_person_owns' ? 'active' }}">
                Inventaris <span class="badge badge-purple">{{ data.owns|length }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#services" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_person_customer' ? 'active' }}">
                Orders <span class="badge badge-purple">{{ data.customer|length }}</span>
            </a>
        </li>
      
    </ul>
		   		    

	    <div class="card-box tab-content">
	    	<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_person' ? 'show active' }}" id="reviews">
			
				{{ include('review/reviews.html.twig', { 
					'data': data
				}) }}
				
			</div>
			
			<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_person_parents' ? 'show active' }}" id="parents">
        
				{{ include('parents/parents.html.twig', { 
					'data': data })
				}}         
	        
    		</div>
    		
			<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_person_membership' ? 'show active' }}" id="membership">
        
				{{ include('membership/membership.html.twig', { 
					'data': data })
				}}         
	        
    		</div>
    		
    		<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_person_musicalInstrument' ? 'show active' }}" id="musicalInstrument">
        
				{{ include('musical_instrument/musicalInstrument.html.twig', { 
					'data': data })
				}}            
	        
    		</div>
    		
    		<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_person_education' ? 'show active' }}" id="education">
        
				{{ include('education/education.html.twig', { 
					'data': data })
				}}             
	        
    		</div>
    		
    		<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_person_memberOf' ? 'show active' }}" id="roles">
        
				{{ include('member_of/memberof.html.twig', { 
					'data': data })
				}}            
	        
    		</div>
    		
    		<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_person_owns' ? 'show active' }}" id="products">
        
				{{ include('owns/owns.html.twig', { 
					'data': data })
				}}             
	        
    		</div>
    		
    		<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_person_customer' ? 'show active' }} " id="services">
        
				{{ include('orders/order.html.twig', { 
					'data': data })
				}}            
    		</div>	
    	
	    </div>
{% endblock %}