{% extends 'base.html.twig' %}

{% block title %}<i class="mdi mdi-account-multiple"></i> Personen{% endblock %}

{% block stylesheets %}

	<link href="{{ asset('assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/plugins/select2/css/select2.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset('assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" rel="stylesheet" type="text/css"/>
	<link href="{{ asset('assets/plugins/switchery/switchery.min.css') }}" rel="stylesheet" type="text/css"/>
	
	{{ parent() }}
	        
{% endblock %}


{% block body %}

 	{{ form_start(form) }}
	<div class="row align-items-center">
        <div class="col">
	        {% if 'create' in app.request.uri  %}
	       		<h2>Persoon toevoegen</h2>
	        {% endif %}
	        {% if 'edit' in app.request.uri  %}
	       		<h2>{{ data.familyName }}, {{data.givenName }} {{ data.additionalName }} - bewerken</h2>
	        {% endif %}
        </div>
        
        <div class="col-4  ">
	        <div class="btn-group float-right">
	        	<button type="submit" class="btn btn-purple waves-effect"><i class="fa fa-save"></i>  Opslaan</button>
	        	
	        	{% if 'create' in app.request.uri  %}
	       			<a href="{{ path('app_people') }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
		        {% endif %}
		        {% if 'edit' in app.request.uri  %}
		       		<a href="{{ path('app_person', {'id': data.id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
		        {% endif %}
	        	
	        </div>
        </div>
        
	</div>
	
    <!-- Card Box -->
    <div class="card-box table-responsive">
        <div class="row">
	        <div class="col-5">
				{{ form_label(form.givenName) }}
				{{ form_widget(form.givenName) }}
	        </div>
	        
	        <div class="col-2">
		       {{ form_label(form.additionalName) }}
			   {{ form_widget(form.additionalName) }}
	        </div>
	        
	        <div class="col-5">
		       {{ form_label(form.familyName) }}
			   {{ form_widget(form.familyName) }}
	        </div>
	    </div>
	    <br>
	    <div class="row">
	        <div class="col-6">
				{{ form_label(form.birthDate) }}
				{{ form_widget(form.birthDate, {'id': 'datepicker-autoclose'}) }}
	        </div>
	        
	        <div class="col-6">
		       {{ form_label(form.gender) }}
			   {{ form_widget(form.gender) }}
	        </div>
	    </div>
	    <br>
	    <div class="row">
		    <div class="col-12">
			    {{ form_label(form.email) }}
				{{ form_widget(form.email) }}
		    </div>
	    </div>
	    <br>
	    <div class="row">
	        <div class="col-6">
				{{ form_label(form.telephone) }}
				{{ form_widget(form.telephone) }}
	        </div>
	        
	        <div class="col-6">
		       {{ form_label(form.telephone_2) }}
			   {{ form_widget(form.telephone_2) }}
	        </div>
	    </div>
	    <br>
	    <div class="row">
	        <div class="col-6">
				{{ form_label(form.streetAddress) }}
				{{ form_widget(form.streetAddress) }}
	        </div>
	        
	        <div class="col-6">
		       {{ form_label(form.postalCode) }}
			   {{ form_widget(form.postalCode) }}
	        </div>
	    </div>
	    <br>
	    <div class="row">
	        <div class="col-6">
				{{ form_label(form.addressLocality) }}
				{{ form_widget(form.addressLocality) }}
	        </div>
	        
	        <div class="col-6">
		       {{ form_label(form.addressCountry) }}
			   {{ form_widget(form.addressCountry) }}
	        </div>
	    </div>
	    <br>
	    <div class="row">
		    <div class="col-12">
			    {{ form_label(form.alumni) }}
				{{ form_widget(form.alumni) }}
		    </div>
	    </div>
	    <br>
	    <div class="row">
		    <div class="col-12">
			    {{ form_label(form.category) }}
				{{ form_widget(form.category) }}
		    </div>
	    </div>

		{{ form_end(form) }}        
    </div>      

{% endblock %}

{% block javascripts %}

	<script type="text/javascript" src="{{ asset('assets/plugins/switchery/switchery.min.js') }}"></script>
	
	{{ parent() }}
	
	<script>
	    $(document).ready(function(){
	        $('.select2').select2();
	    });
	</script>
	
    <script src="{{ asset('assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/select2/js/select2.min.js') }}"></script>
    

    <script type="text/javascript">
        jQuery('#datepicker-autoclose').datepicker({
	        	format: 'dd-mm-yyyy',
                autoclose: true,
                todayHighlight: true
            });
    </script>
    
{% endblock %}