{%if data.offers is not empty %}
    <!--Table -->
    <table id="datatable-offers" class="table table-striped table-bordered display responsive" width="100%" cellspacing="0">
        <thead>
        <tr>
            {% if is_granted('ROLE_SERVICES_EDIT') or is_granted('ROLE_SERVICES_DELETE') %}
                <th width="20px"></th>
            {% endif %}
            <th>{% trans %}Alternate name{% endtrans %}</th>
            <th class="desktop">{% trans %}Price{% endtrans %}</th>
            <th class="desktop">{% trans %}Availability{% endtrans %}</th>
            <th>{% trans %}Inventory level{% endtrans %}</th>
            <th class="desktop">{% trans %}Availability starts{% endtrans %}</th>
        </tr>
        </thead>

        <tbody>

        {% for offers in data.offers %}
            <tr>
                {% if is_granted('ROLE_SERVICES_EDIT') or is_granted('ROLE_SERVICES_DELETE') %}
                <td align="center">
                    <!-- Dropdown menu -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu">
                            {% if is_granted('ROLE_SERVICES_EDIT') %}
                            <a class="dropdown-item" href="{{ path('offer_edit', { 'id': data.id, 'offerID': offers.id}) }}"><i class="mdi mdi-pencil"></i> {% trans %}Edit{% endtrans %}</a>
                            {% endif %}
                            {% if is_granted('ROLE_SERVICES_DELETE') %}
                            <a class="dropdown-item" href="{{ path('offer_delete', { 'id': data.id, 'offerID': offers.id}) }}"
                               onclick="return confirm('{% trans %}Delete_message{% endtrans %} {{ offers.alternateName }}');"><i
                                        class="mdi mdi-delete text-danger"></i> {% trans %}Delete{% endtrans %}</a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- End dropdown menu -->
                    {%  endif %}
                </td>
                <td>
                    {{ offers.alternateName }}
                </td>
                <td>
                    € {{ offers.price|number_format(2, '.','') }}
                </td>
                <td>
                    {{ offers.availability }}
                </td>
                <td>
                    {{ offers.inventoryLevel }}
                </td>
                <td>
                    {{ offers.availabilityStarts is empty ? "" : offers.availabilityStarts|date("d-m-Y") }} -
                    {{ offers.availabilityEnds is empty ? "" : offers.availabilityEnds|date("d-m-Y") }}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% else %}
    <div class="text-muted">{% trans %}Not_applicable{% endtrans %}</div>
{% endif %}