{% extends 'base.html.twig' %}

{% block title %}<i class="mdi mdi-cube"></i> Producten{% endblock %}

{% block stylesheets %}
	

	<link href="{{ asset('assets/plugins/multiselect/css/multi-select.css') }}"  rel="stylesheet" type="text/css" />
	<link href="{{ asset('assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" rel="stylesheet" type="text/css"/>
	<link href="{{ asset('assets/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
	
	{{ parent() }}
	

	        
{% endblock %}

{% block body %}

 	{{ form_start(form) }}
	<div class="row align-items-center">
        <div class="col">
	       	
	       	{% if 'create' in app.request.uri  %}
	       		<h2>Aanbod toevoegen</h2>
	        {% endif %}
	        {% if 'edit' in app.request.uri  %}
	       		<h2>Aanbod bewerken</h2>
	        {% endif %}
	        
        </div>
        
        <div class="col-4  ">
	        <div class="btn-group float-right">
	        	<button type="submit" class="btn btn-purple waves-effect"><i class="fa fa-save"></i>  Opslaan</button>
				<a href="{{ path('app_service_offer', {'id': id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
	        </div>
        </div>
        
	</div>
	
    <!-- Card Box -->
    <div class="card-box table-responsive">
	    
		
		<div class="row">
		    <div class="col-12">
			       {{ form_label(form.alternateName) }}
				   {{ form_widget(form.alternateName) }}	   
		    </div>
	    </div>
	    <br>
	    
	    <div class="row">
		    <div class="col-12">
			       {{ form_label(form.price) }}
			       	{% if 'create' in app.request.uri  %}
			       		{{ form_widget(form.price) }}
			        {% endif %}
			        {% if 'edit' in app.request.uri  %}
			       		{{ form_widget(form.price, {'attr': {'readonly': ''}}) }}
			        {% endif %}
				   	
		    </div>
	    </div>
	    <br>
	    
	    <div class="row">
		    <div class="col-12">
			       {{ form_label(form.inventoryLevel) }}
				   {{ form_widget(form.inventoryLevel) }}	   
		    </div>
	    </div>
	    <br>
	    
	    <div class="row">
		    <div class="col-12">
			       {{ form_label(form.availability) }}
				   {{ form_widget(form.availability) }}	   
		    </div>
	    </div>
	    <br>
	    
	    <div class="row">
		    <div class="col-12">
		    	{{ form_label(form.validFrom) }}
		    		<div class="input-daterange input-group" id="date-range">
						{{ form_widget(form.validFrom) }}	
						{{ form_widget(form.validThrough) }}	  
				   </div>   
		    </div>
	    </div>
	    <br>
	    
	    <div class="row">
		    <div class="col-12">
		    	{{ form_label(form.availabilityStarts) }}
		    		<div class="input-daterange input-group" id="date-range2">
						{{ form_widget(form.availabilityStarts) }}	
						{{ form_widget(form.availabilityEnds) }}	  
				   </div>   
		    </div>
	    </div>
	    <br>
		
		{{ form_end(form) }}
            
    </div>    
{% endblock %}


{% block javascripts %}

	{{ parent() }}
	
	<!--form wysiwig js-->
	<script type="text/javascript" src="{{ asset('assets/plugins/multiselect/js/jquery.multi-select.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/plugins/jquery-quicksearch/jquery.quicksearch.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/select2/js/select2.min.js') }}"></script>

    <script type="text/javascript">
        jQuery('#date-range').datepicker({
            format: 'dd-mm-yyyy',
            clearBtn: true,
            toggleActive: true
        });
        jQuery('#date-range2').datepicker({
            format: 'dd-mm-yyyy',
            clearBtn: true,
            toggleActive: true
        });
    </script>
    
    <script>
	    $(document).ready(function(){
	        $('.select2').select2();
	    });
	</script>
    
{% endblock %}


