{% extends 'base.html.twig' %}

{% block title %}<i class="mdi mdi mdi-cart"></i> Producten{% endblock %}

{% block stylesheets %}
	
	
	<link href="{{ asset('assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" rel="stylesheet" type="text/css"/>
	<link href="{{ asset('assets/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
	
	{{ parent() }}
	        
{% endblock %}

{% block body %}

 	{{ form_start(form) }}
	<div class="row align-items-center">
        <div class="col">
	        {% if 'create' in app.request.uri  %}
	       		<h2>Service Toevoegen</h2>
	        {% endif %}
	        {% if 'edit' in app.request.uri  %}
	       		<h2>{{ data.serviceType }} - bewerken</h2>
	        {% endif %}
        </div>
        
        <div class="col-4  ">
	        <div class="btn-group float-right">
	        	<button type="submit" class="btn btn-purple waves-effect"><i class="fa fa-save"></i>  Opslaan</button>
	        	
	        	{% if 'create' in app.request.uri  %}
	       			<a href="{{ path('app_services') }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
		        {% endif %}
		        {% if 'edit' in app.request.uri  %}
		       		<a href="{{ path('app_services', {'id': data.id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
		        {% endif %}
	        	
	        </div>
        </div>
        
	</div>
	
    <!-- Card Box -->
    <div class="card-box table-responsive">
        <div class="row">
	        <div class="col-12">
				{{ form_label(form.serviceType) }}
				{{ form_errors(form.serviceType) }}
				{{ form_widget(form.serviceType) }}
	        </div>
 		</div>
	    <br>
	    <div class="row">
	        <div class="col-12">
				{{ form_label(form.description) }}
				{{ form_errors(form.description) }}
				{{ form_widget(form.description) }}
	        </div>
 		</div>
	    <br>
	     <div class="row">
	        <div class="col-12">
				{{ form_label(form.availableChannel) }}
				{{ form_errors(form.availableChannel) }}
				{{ form_widget(form.availableChannel) }}
	        </div>
 		</div>
	    <br>
		{{ form_end(form) }}        
    </div>      

{% endblock %}

{% block javascripts %}

	{{ parent() }}
	
	<!--form wysiwig js-->
    <script src="{{ asset('assets/plugins/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/select2/js/select2.min.js') }}"></script>

    <script type="text/javascript">
        jQuery('#datepicker-autoclose1').datepicker({
	        	format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true
            });
        jQuery('#datepicker-autoclose2').datepicker({
	        	format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true
            });
    </script>
    
    <script>
	    $(document).ready(function(){
	        $('.select2').select2();
	    });
	</script>
    
{% endblock %}