{% extends 'base_content_full_width.html.twig' %}

{% block body %}

	{{ form_start(form) }}
	<!-- Page header -->
	<div class="d-flex justify-content-between flex-row">
		<div class="p-2">
			{% if 'create' in app.request.uri  %}
				<h3>{% trans %}Add_offer{% endtrans %}</h3>
			{% endif %}
			{% if 'edit' in app.request.uri  %}
				<h3>{{ data.alternateName }} - {% trans %}Edit{% endtrans %}</h3>
			{% endif %}
		</div>

		<div class="p-2">
			<div class="btn-group float-right">
				<button type="submit" class="btn btn-primary btn-sm"><i class="mdi mdi-content-save"></i> {% trans %}Save{% endtrans %}</button>
				{% if 'create' in app.request.uri  %}
					<a href="{{ path('service_id', {'id': id}) }}" class="btn btn-primary btn-sm"><i class="mdi mdi-close"></i> {% trans %}Close{% endtrans %}</a>
				{% endif %}
				{% if 'edit' in app.request.uri  %}
					<a href="{{ path('service_id', {'id': id}) }}" class="btn btn-primary btn-sm"><i class="mdi mdi-close"></i> {% trans %}Close{% endtrans %}</a>
				{% endif %}
			</div>
		</div>
	</div>
	<!-- End Page header -->

	<!-- Content -->
	<div class="card">
		<div class="card-body">

			<div class="row mb-sm-4">
				<div class="col-sm">
					{{ form_row(form.alternateName) }}
				</div>
			</div>

			<div class="row mb-sm-4">
				<div class="col-sm">
					{% if 'create' in app.request.uri  %}
						{{ form_row(form.price) }}
					{% endif %}
					{% if 'edit' in app.request.uri  %}
						{{ form_row(form.price, {'attr': {'readonly': ''}}) }}
					{% endif %}
				</div>
			</div>

			<div class="row mb-sm-4">
				<div class="col-sm">
					{{ form_row(form.inventoryLevel) }}
				</div>
				<div class="col-sm">
					{{ form_row(form.availability) }}
				</div>
			</div>

			<div class="row mb-sm-4">
				<div class="col-sm">
					{{ form_label(form.availabilityStarts) }}
					<div class="input-daterange input-group" id="date-range2">
						{{ form_widget(form.availabilityStarts) }}
						{{ form_widget(form.availabilityEnds) }}
					</div>
					{{ form_help(form.availabilityStarts) }}
				</div>
			</div>


		</div>
	</div>

	{{ form_end(form) }}

{% endblock %}


{% block javascripts %}

	{{ parent() }}

	<!--form wysiwig js-->
	<script type="text/javascript" src="{{ asset('assets/plugins/multiselect/js/jquery.multi-select.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/plugins/jquery-quicksearch/jquery.quicksearch.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/select2/js/select2.min.js') }}"></script>

    <script type="text/javascript">
        jQuery('#date-range').datepicker({
            format: 'dd-mm-yyyy',
            clearBtn: true,
            toggleActive: true
        });
        jQuery('#date-range2').datepicker({
            format: 'dd-mm-yyyy',
            clearBtn: true,
            toggleActive: true
        });
    </script>

	<script>
		$(document).ready(function(){
			$('.select2').select2({
				theme: "bootstrap4",
				width: '100%'
			});
		});
	</script>
    
{% endblock %}


