{% extends 'base_content_full_width.html.twig' %}

{% block body %}


	{{ form_start(form) }}

	<!-- Page header -->
	<div class="d-flex justify-content-between flex-row">
		<div class="p-2">
			{% if 'create' in app.request.uri  %}
				<h3>{% trans %}MusicalInstrument_add{% endtrans %}</h3>
			{% endif %}
			{% if 'edit' in app.request.uri  %}
				<h3>{{ data.musicalInstrument }} - {% trans %}Edit{% endtrans %}</h3>
			{% endif %}
		</div>

		<div class="p-2">
			<div class="btn-group float-right">
				<button type="submit" class="btn btn-primary btn-sm"><i class="mdi mdi-content-save"></i> {% trans %}Save{% endtrans %}</button>
				<a href="{{ path('musical_instrument') }}" class="btn btn-primary btn-sm"><i class="mdi mdi-close"></i> {% trans %}Close{% endtrans %}</a>
			</div>
		</div>
	</div>
	<!-- End Page header -->

	<!-- Content -->
	<div class="card">
		<div class="card-body">
			<div class="row mb-sm-4">
				<div class="col-sm">
					{{ form_row(form.musicalInstrument) }}
				</div>
			</div>
		</div>
	</div>

	{{ form_end(form) }}

{% endblock %}
