<div class="row align-items-center">
	<div class="col">
	    <h3>Notities</h3>
    </div>
        
    <div class="col-4  ">
    {% if is_granted('ROLE_REVIEW_CREATE') %}
	    <div class="btn-group float-right">
	    	
	    	{% if 'person' in app.request.uri %}
	    		<a href="{{ path( 'app_review_create', {'entity': 'person', 'id': data.id} ) }}" class="btn btn-trans btn-sm btn-purple waves-effect"><i class="fa fa-plus"></i></a>
	    	{% endif %}
	    	{% if 'organization' in app.request.uri %}
	    		<a href="{{ path( 'app_review_create', {'entity': 'organization', 'id': data.id} ) }}" class="btn btn-trans btn-sm btn-purple waves-effect"><i class="fa fa-plus"></i></a>
	    	{% endif %}
	    	{% if 'product' in app.request.uri %}
	    		<a href="{{ path( 'app_review_create', {'entity': 'product', 'id': data.id} ) }}" class="btn btn-trans btn-sm btn-purple waves-effect"><i class="fa fa-plus"></i></a>
	    	{% endif %}
	    	{% if 'event' in app.request.uri %}
	    		<a href="{{ path( 'app_review_create', {'entity': 'event', 'id': data.id} ) }}" class="btn btn-trans btn-sm btn-purple waves-effect"><i class="fa fa-plus"></i></a>
	    	{% endif %}
	    	{% if 'service' in app.request.uri %}
	    		<a href="{{ path( 'app_review_create', {'entity': 'service', 'id': data.id} ) }}" class="btn btn-trans btn-sm btn-purple waves-effect"><i class="fa fa-plus"></i></a>
	    	{% endif %}
	
	    </div>
	{% endif %}
    </div>
        
</div>

{% for review in data.review|reverse %}
	<div class="card m-b-20 text-xs-center">
        
        <div class="card-header">
	        <div class="row align-items-center"> 
		        <div class="col">
			        <h4 class="m-0">{{review.reviewAspect}}</h4>
	        	</div>
	        
				<div class="col-4  ">
					
					{% if is_granted('ROLE_REVIEW_EDIT') or is_granted('ROLE_REVIEW_DELETE') %}
					<!-- Dropdown -->
				    <div class="dropdown pull-right">
	                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
	                        <i class="mdi mdi-dots-horizontal"></i>
	                    </a>
	                    
	                    <div class="dropdown-menu dropdown-menu-right">
	                    {% if 'person' in app.request.uri %}
				    		<!-- item-->
				    		{% if is_granted('ROLE_REVIEW_EDIT') %}
	                        <a href="{{ path('app_review_edit', {'entity': 'person', 'id': data.id, 'reviewID': review.id}) }}" class="dropdown-item">Bewerken</a>
	                        {% endif %}
	                        <!-- item-->
	                        {% if is_granted('ROLE_REVIEW_DELETE') %}
	                        <a href="{{ path('app_review_delete', {'entity': 'person', 'id': data.id, 'reviewID': review.id}) }}" class="dropdown-item">Verwijderen</a>{% endif %}
				    	{% endif %}
				    	
				    	{% if 'organization' in app.request.uri %}
				    		<!-- item-->
				    		{% if is_granted('ROLE_REVIEW_EDIT') %}
	                        <a href="{{ path('app_review_edit', {'entity': 'organization', 'id': data.id, 'reviewID': review.id}) }}" class="dropdown-item">Bewerken</a>
	                        {% endif %}
	                        <!-- item-->
	                        {% if is_granted('ROLE_REVIEW_DELETE') %}
	                        <a href="{{ path('app_review_delete', {'entity': 'organization', 'id': data.id, 'reviewID': review.id}) }}" class="dropdown-item">Verwijderen</a>{% endif %}
				    	{% endif %}
				    	
				    	{% if 'product' in app.request.uri %}
				    		<!-- item-->
				    		{% if is_granted('ROLE_REVIEW_EDIT') %}
	                        <a href="{{ path('app_review_edit', {'entity': 'product', 'id': data.id, 'reviewID': review.id}) }}" class="dropdown-item">Bewerken</a>
	                        {% endif %}
	                        <!-- item-->
	                        {% if is_granted('ROLE_REVIEW_DELETE') %}
	                        <a href="{{ path('app_review_delete', {'entity': 'product', 'id': data.id, 'reviewID': review.id}) }}" class="dropdown-item">Verwijderen</a>{% endif %}
				    	{% endif %}
				    	
				    	{% if 'event' in app.request.uri %}
				    		<!-- item-->
				    		{% if is_granted('ROLE_REVIEW_EDIT') %}
	                        <a href="{{ path('app_review_edit', {'entity': 'event', 'id': data.id, 'reviewID': review.id}) }}" class="dropdown-item">Bewerken</a>
	                        {% endif %}
	                        <!-- item-->
	                        {% if is_granted('ROLE_REVIEW_DELETE') %}
	                        <a href="{{ path('app_review_delete', {'entity': 'event', 'id': data.id, 'reviewID': review.id}) }}" class="dropdown-item">Verwijderen</a>{% endif %}
				    	{% endif %}
				    	
				    	{% if 'service' in app.request.uri %}
				    		<!-- item-->
				    		{% if is_granted('ROLE_REVIEW_EDIT') %}
	                        <a href="{{ path('app_review_edit', {'entity': 'service', 'id': data.id, 'reviewID': review.id}) }}" class="dropdown-item">Bewerken</a>
	                        {% endif %}
	                        <!-- item-->
	                        {% if is_granted('ROLE_REVIEW_DELETE') %}
	                        <a href="{{ path('app_review_delete', {'entity': 'service', 'id': data.id, 'reviewID': review.id}) }}" class="dropdown-item">Verwijderen</a>{% endif %}
				    	{% endif %}
	                             
	                    </div>
	                </div>
	                {% endif %}
					
				</div>
	        </div>
		</div>
	                
        <div class="card-body">
            <p class="card-text">{{review.reviewBody | raw }}</p>
        </div>
                
        <div class="card-footer text-muted">
            <small class="text-muted">
            	<i class="fa fa-user"></i>&nbsp;&nbsp; {{ review.updatedBy }}&nbsp;&nbsp;|&nbsp;&nbsp; 
				<i class="fa fa-calendar-check-o"></i>&nbsp;&nbsp; {{ review.updatedAt |date("d-m-Y  - H:i")}}
			</small>
        </div>
    </div>

{% endfor %} 