<div class="row align-items-center">
	<div class="col">
	    <h3>Gerelateerde producten</h3>
    </div>
        
    <div class="col-4  ">
	    <div class="btn-group float-right">
	    	<a href="{{ path('app_product_isRelatedTo_create', {'id': data.id}) }}" class="btn btn-sm btn-trans btn-purple waves-effect"><i class="fa fa-plus"></i></a>
	    </div>
    </div>
        
</div>
{%if data.isRelatedTo is not empty %}
<table class="table table-bordered table-striped">   
    <tbody>
        <thead>
            <tr>
            	<td><b>Naam</b></td>
            	<td><b>Serienummer</b></td>
            	<td><b>Model</b></td>
            	<td><b>Fabrikant</b></td>
        	</tr>
        </thead>
    {% for isRelatedTo in data.isRelatedTo %}
        <tr>
            <td>{{ isRelatedTo.name }}
	            
	            <!-- Dropdown -->
			    <div class="dropdown pull-right">
                    <a href="" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-horizontal"></i>
                    </a>
                    
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="{{ path('app_product_isRelatedTo_edit', {'id': data.id}) }}" class="dropdown-item">Bewerken</a>
                    </div>
                </div>
                
            </td>
            <td>
	            {{ isRelatedTo.productID }}
            </td>
            <td>
	            {{ isRelatedTo.model }}
            </td>
            <td>
	            {{ isRelatedTo.manufacturer }}
            </td>
            
            
        </tr>
    {% endfor %} 
   
    </tbody>
</table>
{% endif %} 