<div class="row align-items-center">
	<div class="col">
	    <h3>Gerelateerde producten</h3>
    </div>
        
    <div class="col-4  ">
    {% if is_granted('ROLE_PERSON_EDIT') %}
	    <div class="btn-group float-right">
	    	<a href="{{ path('app_product_isRelatedTo_edit', {'id': data.id}) }}" class="btn btn-sm btn-trans btn-purple waves-effect"><i class="fa fa-plus"></i></a>
	    </div>
	{% endif %}
    </div>
        
</div>
{%if data.isRelatedTo is not empty %}
<table class="table table-bordered table-striped">   
    <tbody>
        <thead>
            <tr>
            	<td><b>Naam</b></td>
            	<td><b>Serienummer</b></td>
            	<td><b>Model</b></td>
            	<td><b>Fabrikant</b></td>
        	</tr>
        </thead>
    
		{% for isRelatedTo in data.isRelatedTo %}
        
        <tr>
            <td>
            	<a href="{{ path('app_product', {'id': isRelatedTo.id}) }}">
            		{{ isRelatedTo.name }}
            	</a>
            </td>
            <td>
	            {{ isRelatedTo.productID }}
            </td>
            <td>
	            {{ isRelatedTo.model }}
            </td>
            <td>
	            {{ isRelatedTo.manufacturer }}
            </td>
        </tr>
    {% endfor %} 
   
    </tbody>
</table>
{% endif %} 