{% extends 'base.html.twig' %}

{% block title %}Personen{% endblock %}

{% block stylesheets %}
	
	{{ parent() }}
	<link href="{{ asset('assets/plugins/multiselect/css/multi-select.css') }}"  rel="stylesheet" type="text/css" />

	        
{% endblock %}

{% block body %}

 	{{ form_start(form) }}
	<div class="row align-items-center">
        <div class="col">
	       	
	       	{% if 'create' in app.request.uri  %}
	       		<h2>Rol toevoegen</h2>
	        {% endif %}
	        {% if 'edit' in app.request.uri  %}
	       		<h2>Rol bewerken</h2>
	        {% endif %}
	        
        </div>
        
        <div class="col-4  ">
	        <div class="btn-group float-right">
	        	<button type="submit" class="btn btn-purple waves-effect"><i class="fa fa-save"></i>  Opslaan</button>
				<a href="{{ path('app_person_memberOf', {'id': id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
	        </div>
        </div>
        
	</div>
	
    <!-- Card Box -->
    <div class="card-box table-responsive">
	    
	    <div class="col-6">
		       {{ form_label(form.memberOf) }}
			   {{ form_widget(form.memberOf, {'id': 'my_multi_select1', 'attr': {'class': 'multi-select', 'data-plugin': 'multi-select', multiple: 'multiple'}}) }}
	        </div>
		{{ form_end(form) }}
            
    </div>    
{% endblock %}


{% block javascripts %}

	{{ parent() }}
	
	<!--form wysiwig js-->
	<script type="text/javascript" src="{{ asset('assets/plugins/multiselect/js/jquery.multi-select.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/plugins/jquery-quicksearch/jquery.quicksearch.js') }}"></script>


    <script type="text/javascript">
        jQuery(document).ready(function() {

                //advance multiselect start
                $('#my_multi_select1').multiSelect({
                    selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
                    selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
                    afterInit: function (ms) {
                        var that = this,
                                $selectableSearch = that.$selectableUl.prev(),
                                $selectionSearch = that.$selectionUl.prev(),
                                selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                                selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                        that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                                .on('keydown', function (e) {
                                    if (e.which === 40) {
                                        that.$selectableUl.focus();
                                        return false;
                                    }
                                });

                        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                                .on('keydown', function (e) {
                                    if (e.which == 40) {
                                        that.$selectionUl.focus();
                                        return false;
                                    }
                                });
                    },
                    afterSelect: function () {
                        this.qs1.cache();
                        this.qs2.cache();
                    },
                    afterDeselect: function () {
                        this.qs1.cache();
                        this.qs2.cache();
                    }
                });

                

            });    </script>
    
{% endblock %}


