<div class="row align-items-center">
	<div class="col">
	    <h3>Medewerkers</h3>
    </div>
        
    <div class="col-4  ">
	    <div class="btn-group float-right">
	    	<a href="{{ path('app_organization_employee_create', {'id': data.id}) }}" class="btn btn-sm btn-trans btn-purple waves-effect"><i class="fa fa-plus"></i></a>
	    </div>
    </div>
        
</div>
{%if data.employee is not empty %}
<table class="table table-bordered table-striped">   
    <tbody>
        <thead>
            <tr>
            	<td><b>Naam</b></td>
            	<td><b>Email</b></td>
            	<td><b>Categorie</b></td>
        	</tr>
        </thead>
    {% for employee in data.employee %}
        <tr>
            <td>{{ employee.familyName }}, {{ employee.givenName }} {{ employee.additionalName }}
	            
	            <!-- Dropdown -->
			    <div class="dropdown pull-right">
                    <a href="" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-horizontal"></i>
                    </a>
                    
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="{{ path('app_organization_employee_edit', {'id': data.id}) }}" class="dropdown-item">Bewerken</a>
                    </div>
                </div>
                
            </td>
            <td>
	            {{ employee.email }}
            </td>
            <td>
	         	{{ employee.categorie.name }}	
            </td>
        </tr>
    {% endfor %} 
   
    </tbody>
</table>
{% endif %} 