<div class="row align-items-center">
	<div class="col">
	    <h3>Medewerkers</h3>
    </div>
        
    <div class="col-4  ">
	    <div class="btn-group float-right">
	    	<a href="{{ path('app_organization_employee_create', {'id': data.id}) }}" class="btn btn-sm btn-trans btn-purple waves-effect"><i class="fa fa-pencil"></i></a>
	    </div>
    </div>
        
</div>
{%if data.employee is not empty %}
<table class="table table-bordered table-striped">   
    <tbody>
        <thead>
            <tr>
            	<td><b>Naam</b></td>
            	<td><b>Email</b></td>
            	<td><b>Categorie</b></td>
        	</tr>
        </thead>
    {% for employee in data.employee %}
        <tr>
            <td>
            	<a href="{{ path('app_person', {'id': employee.id}) }}">{{ employee.familyName }}, {{ employee.givenName }} {{ employee.additionalName }}</a>
            </td>
            <td>
	            <a href="mailto:{{ employee.email }}">{{ employee.email }}</a>
            </td>
            <td>
	         	{{ employee.categorie.name }}	
            </td>
        </tr>
    {% endfor %} 
   
    </tbody>
</table>
{% endif %} 