{% if data.customer is not empty %}
    <!--Table -->
    <table id="datatable-orders" class="table table-striped table-bordered display responsive" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th width="20px"></th>
            <th class="desktop">{% trans %}Orders{% endtrans %}</th>
            <th class="desktop">{% trans %}Date{% endtrans %}</th>
            <th class="desktop">{% trans%}Orders_order_status{% endtrans %}</th>
            <th>{% trans%}Orders_article{% endtrans %}</th>
            <th class="desktop">{% trans%}Total{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>

        {% for customer in data.customer %}
            <tr>
                <td align="center">
                    <!-- Dropdown menu -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('person_order_edit', { 'id': data.id, 'orderID': customer.id}) }}"><i class="mdi mdi-pencil"></i> {% trans %}Edit{% endtrans %}</a>
                            <a class="dropdown-item" href=""
                               onclick="return confirm('Weet je zeker dat je wilt verwijderen?');"><i
                                        class="mdi mdi-delete text-danger"></i> {% trans %}Delete{% endtrans %}</a>
                        </div>
                    </div>
                    <!-- End dropdown menu -->
                </td>
                <td>
                    <a href="{{ path('order', {'id': data.id, 'orderID': customer.id }) }}">#{{ customer.id }}</a>
                </td>
                <td>
                    {{ customer.orderDate ? customer.orderDate|date('d-m-Y') }}
                </td>
                <td>
                    {% if customer.orderStatus == "In behandeling" %}
                        <span class="badge badge-primary">{{ customer.orderStatus }}</span>
                    {% endif %}
                    {% if customer.orderStatus == "Afgerond" %}
                        <span class="badge badge-success">{{ customer.orderStatus }}</span>
                    {% endif %}
                    {% if customer.orderStatus == "Geannuleerd" %}
                        <span class="badge badge-secondary">{{ customer.orderStatus }}</span>
                    {% endif %}
                    {% if customer.orderStatus == "In de wacht" %}
                        <span class="badge badge-danger">{{ customer.orderStatus }}</span>
                    {% endif %}
                    {% if customer.orderStatus == "Terugbetaald" %}
                        <span class="badge badge-secondary">{{ customer.orderStatus }}</span>
                    {% endif %}
                    {% if customer.orderStatus == "Wachtend op betaling" %}
                        <span class="badge badge-danger">{{ customer.orderStatus }}</span>
                    {% endif %}
                </td>
                <td>
                    {% for details in customer.orderItem %}

                        <li>

                        </li>
                    {% endfor %}
                </td>
                <td>

                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% else %}
    <div class="text-muted">{% trans %}Not_applicable{% endtrans %}</div>
{% endif %}