{%if data.owns is not empty %}
<!--Table -->
<table id="datatable-owns" class="table table-striped table-bordered display responsive" width="100%" cellspacing="0">
        <thead>
            <tr>
				<th width="20px"></th>
                <th>{% trans %}Product_product{% endtrans %}</th>
                <th class="desktop">{% trans %}Product_model{% endtrans %}</th>
                <th class="desktop">{% trans %}Product_manufacturer{% endtrans %}</th>
				<th class="desktop">{% trans %}Product_owned_from{% endtrans %}</th>
				<th class="desktop">{% trans %}Product_owned_till{% endtrans %}</th>
            </tr>
        </thead>

        <tbody>
        
         {% for owns in data.owns %}
			<tr>
				<td align="center">
					<!-- Dropdown menu -->
					<div class="btn-group">
					  	<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
				  		<div class="dropdown-menu">
				  			<a class="dropdown-item" href="{{ path('owns_edit', {'id': data.id, 'ownershipInfoID': owns.id}) }}"><i class="mdi mdi-pencil"></i> {% trans %}Edit{% endtrans %}</a>
				  			<a class="dropdown-item" href="{{ path('owns_delete', {'id': data.id, 'ownershipInfoID': owns.id}) }}" onclick="return confirm('{% trans %} Delete_message{% endtrans %} {{ owns.typeofGood.name }}');"><i class="mdi mdi-delete text-danger" ></i> {% trans %}Delete{% endtrans %}</a>
				  		</div>
					</div>
					<!-- End dropdown menu -->
				</td>
			    <td>
					<a href="{{ path('app_product', {'id': owns.typeofGood.id}) }}">{{ owns.typeofGood.name }}</a>
			    </td>	
			    <td>
            		{{ owns.typeofGood.model }}
            	</td>
	            <td>
		            {{ owns.typeofGood.manufacturer }}
	            </td>
	            <td>
		            {{ owns.ownedFrom |date("d-m-Y")}}
	            </td>
				<td>
		            {{ owns.ownedTrough ? owns.ownedTrough|date('d-m-Y') }}
	            </td>
			</tr>
		{% endfor %}
        
        </tbody>
    </table>

{% else %}
	<div class="text-muted">{% trans %}Not_applicable{% endtrans %}</div>
{% endif %}