{% if data.customer is not empty %}
    <!--Table -->
    <table id="datatable-orders" class="table table-striped table-bordered display responsive" width="100%" cellspacing="0">
        <thead>
        <tr>
            {% if is_granted('ROLE_SERVICES_EDIT') or is_granted('ROLE_SERVICES_DELETE') %}
                <th width="20px"></th>
            {% endif %}
            <th class="desktop">{% trans %}Orders{% endtrans %}</th>
            <th class="desktop">{% trans %}Date{% endtrans %}</th>
            <th class="desktop">{% trans%}Orders_order_status{% endtrans %}</th>
            <th>{% trans%}Orders_article{% endtrans %}</th>
            <th class="desktop">{% trans%}Total{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>

        {% for customer in data.customer %}
            <tr>
                {% if is_granted('ROLE_SERVICES_EDIT') or is_granted('ROLE_SERVICES_DELETE') %}
                <td align="center">
                    <!-- Dropdown menu -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu">
                            {% if is_granted('ROLE_SERVICES_EDIT') %}
                            <a class="dropdown-item" href="{{ path('person_order_edit', { 'id': data.id, 'orderID': customer.id}) }}"><i class="mdi mdi-pencil"></i> {% trans %}Edit{% endtrans %}</a>
                            {% endif %}
                            {% if is_granted('ROLE_SERVICES_DELETE') %}
                            <a class="dropdown-item" href="{{ path('person_order_delete', { 'id': data.id, 'orderID': customer.id}) }}"
                               onclick="return confirm('{% trans %}Delete_message{% endtrans %} #{{ customer.id }}');"><i
                                        class="mdi mdi-delete text-danger"></i> {% trans %}Delete{% endtrans %}</a>
                            {%  endif %}
                        </div>
                    </div>
                    <!-- End dropdown menu -->
                </td>
                {% endif %}
                <td>
                    #{{ customer.id }}
                </td>
                <td>
                    {{ customer.orderDate ? customer.orderDate|date('d-m-Y') }}
                </td>
                <td>
                    {% if customer.orderStatus == "In progress" %}
                        <span class="badge badge-info">{{ customer.orderStatus }}</span>
                    {% endif %}
                    {% if customer.orderStatus == "Finished" %}
                        <span class="badge badge-success">{{ customer.orderStatus }}</span>
                    {% endif %}
                    {% if customer.orderStatus == "Canceled" %}
                        <span class="badge badge-secondary">{{ customer.orderStatus }}</span>
                    {% endif %}
                    {% if customer.orderStatus == "On hold" %}
                        <span class="badge badge-danger">{{ customer.orderStatus }}</span>
                    {% endif %}
                    {% if customer.orderStatus == "Refunded" %}
                        <span class="badge badge-secondary">{{ customer.orderStatus }}</span>
                    {% endif %}
                    {% if customer.orderStatus == "Waiting for payment" %}
                        <span class="badge badge-primary">{{ customer.orderStatus }}</span>
                    {% endif %}
                </td>
                <td>
                    {% for details in customer.orderItem %}

                        <li>
                            {{ details.orderedItem.alternateName }}
                        </li>
                    {% endfor %}
                </td>
                <td>
                    {% set totalPrice = 0 %}

                    {% for details in customer.orderItem %}


                        {% set price = details.orderedItem.price %}
                        {% set quantity = details.orderQuantity %}
                        {% set itemPrice = price * quantity %}

                        {% set totalPrice = totalPrice + itemPrice %}

                    {% endfor %}
                    € {{ totalPrice|number_format(2, ',', '.') }}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% else %}
    <div class="text-muted">{% trans %}Not_applicable{% endtrans %}</div>
{% endif %}