{%if data is not empty %}
<!--Table -->
<table id="datatable-logs" class="table table-striped table-bordered display responsive" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>{% trans %}user{% endtrans %}</th>
                <th class="desktop">{% trans %}event{% endtrans %}</th>
                <th class="desktop">{% trans %}timestamp{% endtrans %}</th>
                <th>{% trans %}data{% endtrans %}</th>
            </tr>
        </thead>

        <tbody>
        
        {% for data in data %}
			<tr>
			    <td>
					{{data.username}}
			    </td>	
			    <td>
				    {{data.action}}
				</td>
			    <td data-order="{{ data.loggedAt | date('Y/m/d - H:m') }}">
				   	{{data.loggedAt | date('d-m-Y - H:m') }}	
				</td>
				<td width="50%">
					<button type="button" class="btn btn-primary btn-xs dropdown-toggle"
							data-toggle="collapse" href="#history-{{ loop.index }}" aria-expanded="false"></button>
  					<div class="collapse" id="history-{{ loop.index }}">
	  					<br>
  							{% for key, data in data.data %}
						        <li>{{ key }}: 
						        
						        {% if data is iterable %}
						        	{% for key, data in data %}
						        		{{data}}
						        	{% endfor %}
						        {% else %}
						        	
						        	{% if data.timestamp is defined %}
										{{ data|date('d-m-Y') }}
									{% else %}
										{{ data }}
									{% endif %}
								{% endif %}
						        </li>
						    {% endfor %}
					</div>
			    </td>
			</tr>
		{% endfor %}
        </tbody>
    </table>

{% else %}
	<div class="text-muted">Niet van toepassing.</div>
{% endif %}