<!DOCTYPE html>
<html>
    <head>
	    
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>ClubManager</title>
        
        {% block stylesheets %}

        	<!-- App css -->
	        <link href="{{ asset('assets/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
	        <link href="{{ asset('assets/css/cm.css') }}" rel="stylesheet" type="text/css"/>
	        
	        
	        <link href="{{ asset('assets/css/icons.css') }}" rel="stylesheet" type="text/css"/>
	        <script src="{{ asset('assets/js/modernizr.min.js' ) }}"></script>
	            	           
        {% endblock %}
              
    </head>

	<body>

	    <!-- Begin page -->
	    <div id="wrapper">
		    
		    <!-- navbar -->
			<nav class="navbar navbar-expand-xl navbar-dark sticky-top p-1">
				
				<div class="container">
					
					<a class="navbar-brand text-center" href="{{ path('dashboard') }}"><img src="{{ asset('assets/logo.svg') }}" height="28" alt="ClubManager Logo"></a>
				
					<button class="navbar-toggler ml-auto hidden-sm-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
					</button>
				
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
					    <ul class="navbar-nav mr-auto nav-fill w-100">
					      	
					      	<li class="nav-item {{ app.request.get('_route') == 'dashboard' ? 'active' }}">
					        	<a class="nav-link" href="{{ path('dashboard') }}"><i class="mdi mdi-account-multiple"></i> Dashboard</a>
							</li>
							
							<li class="nav-item dropdown">
					        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Contacten
					        	</a>
					        
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="{{ path('app_people') }}">Personen</a>
									<a class="dropdown-item" href="#">Organisaties</a>
									<a class="dropdown-item" href="#">Rollen</a>
								</div>
							</li>
							<li class="nav-item">
					        	<a class="nav-link" href="#">Events<span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
					        	<a class="nav-link" href="#">Inventaris<span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
					        	<a class="nav-link" href="#">Producten<span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
					        	<a class="nav-link" href="#">Statistieken<span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
					        	<a class="nav-link" href="#">Instellingen<span class="sr-only">(current)</span></a>
							</li>
					    </ul>
					</div>
				</div>
			</nav>
			<!-- End navbar -->
		    
			<!-- Content -->
			{% block body %}{% endblock %}
			<!-- End content -->
			
			<div class="p-md-1 m-md-2 text-center text-muted"><small>Copyright © 2020 ClubManager - Versie 2.0</small> 
			</div>

        </div>
        
        {% block javascripts %}
                        
            <!-- jQuery  -->
	        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
	        <script src="{{ asset('assets/js/popper.min.js') }}"></script>
	        <script src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>
	        <script src="{{ asset('assets/js/detect.js') }}"></script>
	        <script src="{{ asset('assets/js/fastclick.js') }}"></script>
	        <script src="{{ asset('assets/js/jquery.blockUI.js') }}"></script>
	        <script src="{{ asset('assets/js/waves.js') }}"></script>
	        <script src="{{ asset('assets/js/jquery.nicescroll.js') }}"></script>
	        <script src="{{ asset('assets/js/jquery.slimscroll.js') }}"></script>
	        <script src="{{ asset('assets/js/jquery.scrollTo.min.js') }}"></script>
			
			<!-- Required datatable js -->
		    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
		    <script src="{{ asset('assets/plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>
		    
		    <!-- Buttons examples -->
		    <script src="{{ asset('assets/plugins/datatables/dataTables.buttons.min.js') }}"></script>
		    <script src="{{ asset('assets/plugins/datatables/buttons.bootstrap4.min.js') }}"></script>
		    <script src="{{ asset('assets/plugins/datatables/jszip.min.js') }}"></script>
		    <script src="{{ asset('assets/plugins/datatables/pdfmake.min.js') }}"></script>
		    <script src="{{ asset('assets/plugins/datatables/vfs_fonts.js') }}"></script>
		    <script src="{{ asset('assets/plugins/datatables/buttons.html5.min.js') }}"></script>
		    <script src="{{ asset('assets/plugins/datatables/buttons.print.min.js') }}"></script>
		    <script src="{{ asset('assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
		    
		    
		    <!-- Key Tables -->
		    <script src="{{ asset('assets/plugins/datatables/dataTables.keyTable.min.js') }}"></script>

		    		    
		    

	        
	        <script type="text/javascript">
				window.setTimeout(function() {
				    $(".alert").fadeTo(500, 0).slideUp(500, function(){
				        $(this).remove(); 
				    });
				}, 4000);
		    </script> 
            
        {% endblock %}
        
    </body>
</html>