<!DOCTYPE html>
<html>
    <head>
	    
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>ClubManager</title>
        
        {% block stylesheets %}

        	<!-- App css -->
	        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
	        <link href="{{ asset('assets/css/icons.css') }}" rel="stylesheet" type="text/css"/>
	        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css"/>
	        <script src="{{ asset('assets/js/modernizr.min.js' ) }}"></script>
	            
		    <style>				
				<!-- Tab styling -->
				.tab-content {
					border: 0px solid #eeeeee !important;
				}
			</style>
 
        {% endblock %}
              
    </head>

	<body class="fixed-left">

	    <!-- Begin page -->
	    <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- Logo -->
                <div class="topbar-left">
                    <a href="{{ path('app_dashboard') }}" class="logo"><span>Club<span>Manager</span></span><i class="mdi mdi-layers"></i></a>
                </div>
                <!-- End Logo -->

                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
						
                        <!-- Page title -->
                        <ul class="nav navbar-nav list-inline navbar-left">
                            <li class="list-inline-item">
                                <button class="button-menu-mobile open-left">
                                    <i class="mdi mdi-menu"></i>
                                </button>
                            </li>
                            
                            <li class="list-inline-item">
                                <h1 class="page-title">{% block title %}Title Placeholder{% endblock %}</h1>
                            </li>
                        </ul>     
                        <!-- End Page title -->

						 <!-- Navbar -->
                        <nav class="navbar-custom">

                            <ul class="list-unstyled topbar-right-menu float-right mb-0">
                            	<li>
                                    <!-- Icons top bar right -->
                                    <div class="notification-box">
                                        <ul class="list-inline mb-0">	
                                           {% if is_granted('ROLE_USERS_VIEW') %}
										   	<li>
										   		<a href="javascript:void(0);" class="right-bar-toggle">
										   			<i class="mdi mdi-settings">&nbsp&nbsp</i>
                                               </a>
                                           </li>
                                            {% endif %}
                                            
                                            <li>
                                                <a href="https://frankniesten.github.io/ClubManager/" target="_blanc" >
                                                    <i class="mdi mdi-help-circle"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                   <!-- END Icons top bar right -->
                                </li>
                            </ul>
                        </nav>
                        <!-- End Navbar -->
                                                                
                    </div><!-- end container -->
                
                </div><!-- end navbar -->
            
            </div>
            <!-- Top Bar End -->


            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                
                <div class="sidebar-inner slimscrollleft">

                    <!-- User -->
                    <div class="user-box">
                        <div class="user-img">
                            <img src="{{ asset('assets/images/users/avatar.jpeg') }}" alt="user-img" class="rounded-circle img-thumbnail img-responsive">
                        </div>
                        
                        <h5><a href="#">{{ app.user.displayName }}</a> </h5>
                    
                    </div>
                    <!-- End User -->
                    
                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul>
                        	{% if is_granted('ROLE_USER') %}
	                            <li>
	                                <a href="{{ path('dashboard') }}" class="waves-effect {% if 'dashboard' in app.request.uri  %}active{% endif %}"><i class="mdi mdi-view-dashboard"></i> <span> Dashboard </span> </a>
	                            </li>
	                        {% endif %}
                            
                            {% if is_granted('ROLE_PERSON_VIEW') %}
	                            <li>
	                                <a href="{{ path('app_people') }}" class="waves-effect {% if 'person' in app.request.uri  %}active{% endif %}"><i class="mdi mdi-account-multiple"></i> <span> Personen </span> </a>
	                            </li>
	                        {% endif %}

                            {% if is_granted('ROLE_ORGANIZATION_VIEW') %}
	                            <li>
	                                <a href="{{ path('app_organizations') }}" class="waves-effect {% if 'organization' in app.request.uri  %}active{% endif %}"><i class="mdi mdi-domain"></i> <span> Organisaties </span> </a>
	                            </li>
	                        {% endif %}
                            
                            {% if is_granted('ROLE_EVENT_VIEW') %}
	                            <li>
	                                <a href="{{ path('app_events') }}" class="waves-effect {% if 'event' in app.request.uri  %}active{% endif %}"><i class="mdi mdi-calendar-clock"></i> <span> Events </span> </a>
	                            </li>
	                        {% endif %}
                            
                            {% if is_granted('ROLE_PRODUCT_VIEW') %}
	                            <li>
	                                <a href="{{ path('app_products') }}" class="waves-effect {% if 'product' in app.request.uri  %}active{% endif %}"><i class="mdi mdi-wrench"></i> <span> Inventaris </span> </a>
	                            </li>
	                        {% endif %}
                            
                            {% if is_granted('ROLE_SERVICES_VIEW') %}
	                            <li>
	                                <a href="{{ path('app_services') }}" class="waves-effect {% if 'service' in app.request.uri  %}active{% endif %}"><i class="mdi mdi-cube"></i> <span> Producten </span> </a>
	                            </li>
	                        {% endif %}
                            
                            {% if is_granted('ROLE_SERVICES_VIEW') %}
	                            <li>
	                                <a href="{{ path('app_orders') }}" class="waves-effect {% if 'orders' in app.request.uri  %}active{% endif %}"><i class="mdi mdi-cart"></i> <span> Orders </span> </a>
	                            </li>
	                        {% endif %}
                            
                            {% if is_granted('ROLE_SETTINGS_VIEW') %}
	                            <li class="has_sub">
	                                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-tag-multiple"></i> <span> Parameters </span> <span class="menu-arrow"></span></a>
	                                <ul class="list-unstyled">
	                                	<li><a href="{{ path('app_settings_categories') }}">Categoriën</a></li>
	                                    <li><a href="{{ path('app_settings_program_memberships') }}">Rollen</a></li>
	                                    <li><a href="{{ path('app_settings_musical_instruments') }}">Muziekinstrumenten</a></li>
	                                    <li><a href="{{ path('app_settings_postaladdresses') }}">Event locaties</a></li>
	                                </ul>
	                            </li>
                            {% endif %}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
                    
	                    {% for message in app.flashes('success') %}
							<div class="alert alert-success" role="alert">
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							  <strong>Success!</strong> {{ message }}
							</div>
						{% endfor %}
						
						{% for message in app.flashes('warning') %}
							<div class="alert alert-warning" role="alert">
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							  <strong>Waarschuwing!</strong> {{ message }}
							</div>
						{% endfor %}
						
						{% for message in app.flashes('danger') %}
							<div class="alert alert-danger" role="alert">
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							  <strong>Waarschuwing!</strong> {{ message }}
							</div>
						{% endfor %}
	                    
	                    {% block body %}{% endblock %}

                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer text-right">
                    2019 © ClubManager - Versie 0.8.3
                </footer>

            </div>

            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

            <!-- Right Sidebar -->
            <div class="side-bar right-bar">
                
                <a href="javascript:void(0);" class="right-bar-toggle">
                    <i class="mdi mdi-close-circle-outline"></i>
                </a>
                
                <h4 class="">Beheer</h4>
                
                <div class="notification-list nicescroll">		
                
                	<!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul>
                            <li>
                                <a href="{{ path('app_users') }}" class="waves-effect {% if 'users' in app.request.uri  %}active{% endif %}"><i class="mdi mdi-account"></i> <span> Gebruikers </span> </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    
                    <!-- Sidebar -->
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /Right-bar -->

        </div>
        
        {% block javascripts %}
                        
            <!-- jQuery  -->
	        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
	        <script src="{{ asset('assets/js/popper.min.js') }}"></script>
	        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
	        <script src="{{ asset('assets/js/detect.js') }}"></script>
	        <script src="{{ asset('assets/js/fastclick.js') }}"></script>
	        <script src="{{ asset('assets/js/jquery.blockUI.js') }}"></script>
	        <script src="{{ asset('assets/js/waves.js') }}"></script>
	        <script src="{{ asset('assets/js/jquery.nicescroll.js') }}"></script>
	        <script src="{{ asset('assets/js/jquery.slimscroll.js') }}"></script>
	        <script src="{{ asset('assets/js/jquery.scrollTo.min.js') }}"></script>
			
			<script src="{{ asset('assets/plugins/multiselect/js/jquery.multi-select.js') }}"></script>
			<script src="{{ asset('assets/plugins/jquery-quicksearch/jquery.quicksearch.js') }}"></script>
	
	        <!-- App js -->
	        <script src="{{ asset('assets/js/jquery.core.js') }}"></script>
	        <script src="{{ asset('assets/js/jquery.app.js') }}"></script>
	        
	        <!-- Required datatable js -->
		    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
		    <script src="{{ asset('assets/plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>
		    
		    <!-- Buttons examples -->
		    <script src="{{ asset('assets/plugins/datatables/dataTables.buttons.min.js') }}"></script>
		    <script src="{{ asset('assets/plugins/datatables/buttons.bootstrap4.min.js') }}"></script>
		    <script src="{{ asset('assets/plugins/datatables/jszip.min.js') }}"></script>
		    <script src="{{ asset('assets/plugins/datatables/pdfmake.min.js') }}"></script>
		    <script src="{{ asset('assets/plugins/datatables/vfs_fonts.js') }}"></script>
		    <script src="{{ asset('assets/plugins/datatables/buttons.html5.min.js') }}"></script>
		    <script src="{{ asset('assets/plugins/datatables/buttons.print.min.js') }}"></script>
		    <script src="{{ asset('assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
		    
		    
		    <!-- Key Tables -->
		    <script src="{{ asset('assets/plugins/datatables/dataTables.keyTable.min.js') }}"></script>
	        
	        <script type="text/javascript">
				window.setTimeout(function() {
				    $(".alert").fadeTo(500, 0).slideUp(500, function(){
				        $(this).remove(); 
				    });
				}, 4000);
		    </script> 
            
        {% endblock %}
        
    </body>
</html>