<nav class="navbar navbar-expand-xl navbar-dark bg-primary">

    <a class="navbar-brand" href="#">
        <img src="{{ asset('assets/logo.svg') }}" height="40">
    </a>

    <button class="navbar-toggler ml-auto hidden-sm-up float-xs-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto nav-fill w-100">
            <li class="nav-item {{ app.request.get('_route') == 'dashboard' ? 'active' }}">
                <a class="nav-link" href="{{ path('dashboard') }}"><i class="mdi mdi-view-dashboard"></i> {% trans %}Navbar_dashboard{% endtrans %}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle
                    {% if app.request.attributes.get('_route') in [
                    'person',
                    'organization',
                    'program_memberships'
                ] %}active{% endif %}"
                   href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-account-card-details-outline"></i> {% trans %}Navbar_relations{% endtrans %}<span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item {{ app.request.get('_route') == 'person' ? 'active' }}" href="{{ path('person') }}">Persons</a>
                    <a class="dropdown-item {{ app.request.get('_route') == 'organization' ? 'active' }}" href="{{ path('organization') }}">Organizations</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item {{ app.request.get('_route') == 'program_memberships' ? 'active' }}" href="{{ path('program_memberships') }}">{% trans %}Navbar_roles{% endtrans %}</a>
                    <a class="dropdown-item" href="#">Tags</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="mdi mdi-calendar"></i> {% trans %}Navbar_calendar{% endtrans %}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="mdi mdi-bugle"></i> {% trans %}Navbar_products{% endtrans %}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {{  'service' in app.request.get('_route') ? 'active' }}">
                <a class="nav-link" href="{{ path('service') }}"><i class="mdi mdi-cart"></i> {% trans %}Navbar_services{% endtrans %}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('order') }}"><i class="mdi mdi-cart"></i> {% trans %}Navbar_orders{% endtrans %}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="mdi mdi-chart-bell-curve-cumulative"></i> {% trans %}Navbar_statistics{% endtrans %}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle
                    {% if app.request.attributes.get('_route') in [
                    'settings',
                ] %}active{% endif %}"
                   href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-settings"></i> {% trans %}Navbar_settings{% endtrans %}<span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item {{ app.request.get('_route') == 'users' ? 'active' }}" href="{{ path('users') }}">{% trans %}Navbar_users{% endtrans %}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item {{ app.request.get('_route') == 'category' ? 'active' }}" href="{{ path('category') }}">{% trans %}Navbar_categories{% endtrans %}</a>
                    <a class="dropdown-item {{ app.request.get('_route') == 'musical_instrument' ? 'active' }}" href="{{ path('musical_instrument') }}">{% trans %}Navbar_musicalInstrument{% endtrans %}</a>
                    <a class="dropdown-item {{ app.request.get('_route') == 'postaladdress' ? 'active' }}" href="{{ path('postaladdress') }}">{% trans %}Navbar_venue{% endtrans %}</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

