{% extends 'base.html.twig' %}

{% block title %}Personen{% endblock %}

{% block stylesheets %}
	
	{{ parent() }}
	<link href="{{ asset('assets/plugins/multiselect/css/multi-select.css') }}"  rel="stylesheet" type="text/css" />
	<link href="{{ asset('assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" rel="stylesheet" type="text/css"/>
	        
{% endblock %}

{% block body %}

 	{{ form_start(form) }}
	<div class="row align-items-center">
        <div class="col">
	       <h2>Order: #{{ data.id }} bewerken</h2>    
        </div>
        
        <div class="col-4  ">
	        <div class="btn-group float-right">
	        	<button type="submit" class="btn btn-purple waves-effect"><i class="fa fa-save"></i>  Opslaan</button>
	        	{% if entity == 'person' %}
					<a href="{{ path('app_order', {'id': id, 'entity': 'person', 'orderID': data.id }) }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
				{% endif %}
                
                {% if entity == 'order' %}
                	<a href="{{ path('app_order', {'id': id, 'entity': 'order', 'orderID': id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
                {% endif %}
	        </div>
        </div>
        
	</div>
	
	<!-- Person details -->
	<div id="accordion">
		<div class="card">
	        <div class="card-header" id="headingOne">
	            <h4 class="m-0">
	                <a href="#collapseOne" class="text-dark" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
	                    Ordergegevens
	                </a>
	            </h4>
	        </div>
	
	        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
	            <div class="card-body">
	            
		            <h4>Orderdatum</h4>
		            <div class="row">
				        <div class="col-6">
							{{ form_widget(form.orderDate, {'id': 'datepicker-autoclose1'}) }}
				        </div>
				    </div>
					<br>
					<h4>Orderstatus</h4>
		            <div class="row">
				        <div class="col-6">
							{{ form_widget(form.orderStatus) }}
				        </div>
				    </div>
					<br>


	            	<h4>Ordergegevens</h4>
	            	<p>
	            		{{ data.person.familyName }}, {{data.person.givenName }} {{ data.person.additionalName }}<br>
	            		{{ data.person.streetAddress }}<br>
						{{ data.person.postalCode }}, {{ data.person.addressLocality }}
	            	</p>
	            	

	            	<h4>Email</h4>
	            		{{ data.person.email }}
	            </div>
	        </div>
	    </div>
	</div>
	<br>
	<!-- Order details -->
	<div id="accordion">
		<div class="card">
	        <div class="card-header" id="headingOne">
	            <h4 class="m-0">
	                <a href="#collapseTwo" class="text-dark" data-toggle="collapse" aria-expanded="true" aria-controls="collapseTwo">
	                    Orderdetails
	                </a>
	            </h4>
	        </div>
	
	        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
	            <div class="card-body">
	            
	            	<table class="table table-bordered table-striped"> 
	                
	                <thead>
			            <tr>
			            	<td><b>Artikel</b></td>
			            	<td><b>aantal</b></td>
			            	<td><b>Prijs</b></td>
			        	</tr>
			        </thead>  
		           
		            <tbody>
		            	<tr>
		            		<td></td>
			                <td></td>
			                <td></td>
		            	</tr>
			                
			            
 
			        	<tr>
			                <td></td>
			                <td></td>
			                <td><b></b></td>
			            </tr>  
		            </tbody>
			        </table> 

	            </div>
	        </div>
	    </div>
	</div>
	
	{{ form_end(form) }}

{% endblock %}


{% block javascripts %}

	{{ parent() }}
	
	<!--form wysiwig js-->
	<script type="text/javascript" src="{{ asset('assets/plugins/multiselect/js/jquery.multi-select.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/plugins/jquery-quicksearch/jquery.quicksearch.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>

    <script type="text/javascript">
        jQuery('#datepicker-autoclose1').datepicker({
	        	format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true
            });
    </script>
    
     <script type="text/javascript">
        jQuery('#datepicker-autoclose2').datepicker({
	        	format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: false
            });
    </script>


    <script type="text/javascript">
        jQuery(document).ready(function() {

                //advance multiselect start
                $('#my_multi_select1').multiSelect({
                    selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
                    selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
                    afterInit: function (ms) {
                        var that = this,
                                $selectableSearch = that.$selectableUl.prev(),
                                $selectionSearch = that.$selectionUl.prev(),
                                selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                                selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                        that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                                .on('keydown', function (e) {
                                    if (e.which === 40) {
                                        that.$selectableUl.focus();
                                        return false;
                                    }
                                });

                        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                                .on('keydown', function (e) {
                                    if (e.which == 40) {
                                        that.$selectionUl.focus();
                                        return false;
                                    }
                                });
                    },
                    afterSelect: function () {
                        this.qs1.cache();
                        this.qs2.cache();
                    },
                    afterDeselect: function () {
                        this.qs1.cache();
                        this.qs2.cache();
                    }
                });

                

            });    </script>
    
{% endblock %}