{% extends 'base.html.twig' %}


{% block title %}<i class="mdi mdi-cart"></i> Orders{% endblock %}


{% block body %}
	<div class="row align-items-center">
        <div class="col">
	        <h2>
	        	Order: #{{ data.id }}
	        	{% if data.orderStatus == "In behandeling" %}
            		<span class="badge badge-pink">{{ data.orderStatus }}</span>
            	{% endif %}
            	{% if data.orderStatus == "Afgerond" %}
            		<span class="badge badge-purple">{{ data.orderStatus }}</span>
            	{% endif %}
            	{% if data.orderStatus == "Geannuleerd" %}
            		<span class="badge badge-secondary">{{ data.orderStatus }}</span>
            	{% endif %}
            	{% if data.orderStatus == "In de wacht" %}
            		<span class="badge badge-pink">{{ data.orderStatus }}</span>
            	{% endif %}
            	{% if data.orderStatus == "Terugbetaald" %}
            		<span class="badge badge-secondary">{{ data.orderStatus }}</span>
            	{% endif %}
            	{% if data.orderStatus == "Wachtend op betaling" %}
            		<span class="badge badge-pink">{{ data.orderStatus }}</span>
            	{% endif %}
		    </h2>
        </div>
        
        <div class="col-4  ">
	        <div class="btn-group float-right">
                	<a href="{{ path('app_order_edit', { 'id': id, 'orderID': data.id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-pencil"></i>  Bewerken</a>
					<a href="{{ path('app_order_delete', { 'id': id, 'orderID': data.id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-trash"></i>  Delete</a>
					<a href="{{ path('app_person_customer', { 'id': id }) }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
	        </div>
        </div>
        
	</div>
	<!-- Person details -->
	<div id="accordion">
		<div class="card">
	        <div class="card-header" id="headingOne">
	            <h4 class="m-0">
	                <a href="#collapseOne" class="text-dark" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
	                    Ordergegevens
	                </a>
	            </h4>
	        </div>
	
	        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
	            <div class="card-body">
	            
		            <h4>Orderdatum</h4>
		            <p>
						{{ data.orderDate ? data.orderDate|date('d-m-Y') }}
		            </p>
						
	            	<h4>Ordergegevens</h4>
	            	<p>
	            		
	            		{%if data.person.familyName is not empty %}
			       			{{ data.person.familyName }}, {{data.person.givenName }} {{ data.person.additionalName }}<br>
			       		{% else %}
			       			-
			       		{% endif %}
			       		
			       		{%if data.person.streetAddress is not empty %}	
				   			{{ data.person.streetAddress }}<br>
				   		{% else %}
			       			-
				   		{% endif %}
				   		
				   		{%if data.person.postalCode is not empty %}
				   			{{ data.person.postalCode }}, {{ data.person.addressLocality }}
						{% endif %}
	            	</p>
	            	
	            	<h4>Email</h4>
	            	<p>
	            		{%if data.person.email is not empty %}
			       			{{ data.person.email }}<br>
			       		{% else %}
			       			-
			       		{% endif %}

	            	</p>
	            </div>
	        </div>
	    </div>
	</div>
	
	<br>
	
	<!-- Details -->
    <ul class="nav nav-tabs">   
	    <li class="nav-item">
            <a href="#orderdetails" data-toggle="tab" aria-expanded="true" class="nav-link active">
                Orderdetails
            </a>
        </li> 
       
    </ul>
		    	    
	<div class="card">
	    <div class="tab-content">
	    	<div role="tabpanel" class="tab-pane fade show active" id="orderdetails">
				
				<div class="row align-items-center">
					<div class="col">
					    <h3>Orderdetails</h3>
				    </div>
				        
				    <div class="col-4  ">
					    <div class="btn-group float-right">
					    	{% if data.orderStatus == "In behandeling" %}
					    		<a href="{{ path('app_orderItem_create', { 'id': id, 'orderID': data.id}) }}" class="btn btn-trans btn-sm btn-purple waves-effect"><i class="fa fa-plus"></i></a>
					    	
					    	{% endif %}
					    </div>
				    </div>     
				</div>
				
				{%if data.orderItem is not empty %}
            	<table class="table table-bordered table-striped"> 
                
                <thead>
		            <tr>
		            	<td><b>Artikel</b></td>
		            	<td><b>Prijs</b></td>
		            	<td><b>Aantal</b></td>
		            	<td><b>Totaal</b></td>
		        	</tr>
		        </thead>  
	           
	            <tbody>
	            
	            	{% for orderItem in data.orderItem %}
	            	
	            	<tr>
	            		<td>{{ orderItem.orderedItem.alternateName }}
	            		{% if data.orderStatus == "In behandeling" %}
	            		<!-- Dropdown -->
					    <div class="dropdown pull-right">
		                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
		                        <i class="mdi mdi-dots-horizontal"></i>
		                    </a>
		                    
		                    <div class="dropdown-menu dropdown-menu-right">
		                        <!-- item-->
		                        <a href="{{ path('app_orderItem_edit', { 'id': id, 'orderID': data.id, 'orderItemID': orderItem.id}) }}" class="dropdown-item">Bewerken</a>
								<a href="{{ path('app_orderItem_delete', { 'id': id, 'orderID': data.id, 'orderItemID': orderItem.id}) }}" class="dropdown-item">Verwijderen</a>
		                    </div>
		                </div>
		                {% endif %}

	            		</td>
	            		<td>
	            			{% set price = orderItem.orderedItem.price %}
							€ {{ price|number_format(2, '.','') }}
	            		</td>
		                
		                <td>
		                	{% set quantity = orderItem.orderQuantity|number_format %}
		                	{{ quantity }}</td>
		                <td>
		                	{% set itemPrice = price * quantity %}
		                	€ {{ itemPrice|number_format(2, '.','') }}
		                	
		                	 {% set totalPrice = totalPrice + itemPrice %} 
		                </td>
	            	</tr>
	            	
	            	{% endfor %}

		        	<tr>
		                <td></td>
		                <td></td>
		                <td></td>
		                <td><b>€ {{ totalPrice|number_format(2, '.','') }}</b></td>
		            </tr>  
	            </tbody>
		        </table> 
		        {% endif %}				
			</div>
	    </div>
	</div>
	<br>
	
{% endblock %}