{% import _self as formMacros %}

{% macro printOrderItemRow(form) %}
			<div class="row test">

				<div class="col">
					{{ form_widget(form.orderedItem) }}
				</div>
				<div class="col">
					<div class="input-group mb-3">
						{{ form_widget(form.orderQuantity) }}
						<div class="input-group-append">

						</div>
					</div>
				</div>
			</div>
{% endmacro %}



{% extends 'base_content_full_width.html.twig' %}


{% block body %}

	{{ form_start(form) }}

	<!-- Page header -->
	<div class="d-flex justify-content-between flex-row">
		<div class="p-2">
			{% if 'create' in app.request.uri  %}
				<h3>{% trans %}Orders_add{% endtrans %}</h3>
			{% endif %}
			{% if 'edit' in app.request.uri  %}
				<h3>{% trans %}Orders_edit{% endtrans %}</h3>
			{% endif %}
		</div>

		<div class="p-2">
			<div class="btn-group float-right">
				<button type="submit" class="btn btn-primary btn-sm"><i class="mdi mdi-content-save"></i> {% trans %}Save{% endtrans %}</button>
				<a href="{{ path('person_id', {'id': id}) }}#order" class="btn btn-primary btn-sm"><i class="mdi mdi-close"></i> {% trans %}Close{% endtrans %}</a>
			</div>
		</div>
	</div>
	<!-- End Page header -->

	<!-- Content -->
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col">
					{{ form_row(form.orderDate, {'id': 'datepicker-autoclose1'}) }}
				</div>

				<div class="col">
					{{ form_row(form.orderStatus) }}
				</div>
			</div>

	<div class="card">
		<div class="card-body">

			<div id="orderItem_list" data-prototype="{{ formMacros.printOrderItemRow(form.orderItem.vars.prototype)|e('html_attr') }}">
				{% for form in form.orderItem %}
					{{ formMacros.printOrderItemRow(form) }}
				{% endfor %}
			</div>
</div>
	</div>



		</div>
	</div>


			{{ form_end(form) }}


	<!-- End Content -->
	


{% endblock %}


{% block javascripts %}

	{{ parent() }}
	
	<!--form wysiwig js-->
	<script type="text/javascript" src="{{ asset('assets/plugins/multiselect/js/jquery.multi-select.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/plugins/jquery-quicksearch/jquery.quicksearch.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/select2/js/select2.min.js') }}"></script>



	<script language="JavaScript">

		var $collectionHolder;
		var $addNewItem = $('<a href="#" class="btn btn-primary"> add new item</a>');

		$(document).ready(function () {

			// get the contentholder:
			$collectionHolder = $('#orderItem_list');

			$collectionHolder.append($addNewItem);
			// add an index property to the collectionHolder which helps track the count of forms we have in the list
			$collectionHolder.data('index', $collectionHolder.find('.test').length)

			// add remove button to existing items:
			$collectionHolder.find('.test').each(function () {
				addRemoveButton($(this));
			});

			dropdown();

			//handle new item click event:
			$addNewItem.click(function (e) {
				e.preventDefault();
				//create new form:
				addNewForm();
				dropdown();
			});

		});
		
		function addNewForm() {
			// getting the prototype
			// the prototype is the form itself, plain html
			var prototype = $collectionHolder.data('prototype');
			// get the index
			// this is the index we set when the document was ready, look above for more info
			var index = $collectionHolder.data('index');
			// create the form
			var newForm = prototype;
			// replace the __name__ string in the html using a regular expression with the index value
			newForm = newForm.replace(/__name__/g, index);
			// incrementing the index data and setting it again to the collectionHolder
			$collectionHolder.data('index', index+1);
			// create the panel
			// this is the panel that will be appending to the collectionHolder
			var $panel = $('<div></div>');
			// create the panel-body and append the form to it
			var $panelBody = $('<div></div>').append(newForm);
			// append the body to the panel
			$panel.append($panelBody);
			// append the removebutton to the new panel
			addRemoveButton($panel);
			// append the panel to the addNewItem
			// we are doing it this way to that the link is always at the bottom of the collectionHolder
			$addNewItem.before($panel);

		}
		function addRemoveButton($test) {

			var $removeButton = $('<button class="btn btn-primary" type="button">Button</button>');
			var $panelFooter = $('<div></div>').append($removeButton);

			$removeButton.click(function (e) {
				e.preventDefault();
				$(e.target).parents('.test').slideUp(1000, function () {
					$(this).remove();
				})
			});

			$test.append($panelFooter);
		}

		function dropdown(){
			$('.select2').select2({
				theme: "bootstrap4",
				width: '100%'
			});
		};
	</script>

	<script type="text/javascript">
		jQuery('#datepicker-autoclose1').datepicker({
			format: 'dd-mm-yyyy',
			autoclose: true,
			todayHighlight: true
		});
	</script>

	<script type="text/javascript">
		jQuery('#datepicker-autoclose2').datepicker({
			format: 'dd-mm-yyyy',
			autoclose: true,
			todayHighlight: false
		});
	</script>

{% endblock %}