{% extends 'base.html.twig' %}

{% block stylesheets %}

{{ parent() }}

    <!--Morris Chart CSS -->
	<link rel="{{ asset('stylesheet') }}" href="assets/plugins/morris/morris.css">
	
{% endblock %}


{% block title %}<i class="mdi mdi-view-dashboard"></i> Dashboard{% endblock %}


{% block body %}
   
<div class="row">

   	<div class="col-xl-3 col-md-6">
		<div class="card-box">
			
			<h4 class="header-title mt-0 m-b-30">Totaal aantal leden</h4>

            <div class="widget-box-2">
                <div class="widget-detail-2">
                    
                    <h2 class="mb-0"> {{ totalMembers }} </h2>
                    <p class="text-muted m-b-25">Leden</p>
                </div>
                <div class="progress progress-bar-success-alt progress-sm mb-0">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                         style="width: {{ totalMembers }}%;">
                    </div>
                </div>
            </div>
		</div>
    </div><!-- end col -->


</div>
<!-- end row -->
                        
{% endblock %}

{% block javascripts %}

	{{ parent() }}

    
    <!-- KNOB JS -->
    <script src="{{ asset('assets/plugins/jquery-knob/jquery.knob.js') }}"></script>

    <!--Morris Chart-->
	<script src="{{ asset('assets/plugins/morris/morris.min.js') }}"></script>
	<script src="{{ asset('assets/plugins/raphael/raphael-min.js') }}"></script>

    <!-- Dashboard init -->
    <script src="{{ asset('assets/pages/jquery.dashboard.js') }}"></script>

    <!-- App js -->
    <script src="{{ asset('assets/js/jquery.core.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.app.js') }}"></script>
    
{% endblock %}