{% extends 'base.html.twig' %}

{% block body %}
<div class="position-relative overflow-hidden p-3 p-md-1 m-md-2 text-left">
  	<h3>Dashboard</h3>
</div>

<div class="position-relative overflow-hidden p-3 p-md-1 m-md-2 text-left">
  	<div class="card">
  		<div class="card-body">
  			<h5>Applicatie portaal</h5>
  			
  			<!-- Website -->
			<a href="https://www.sintgabriel.nl" title="Website" target="_blank" class="mfl-tile mfl-orange"> 
		    	<i class="icon mdi mdi-earth"></i>
				<span class="tile-label">Website</span>
			</a>
			
			<!-- Store -->
			<a href="https://store.sintgabriel.nl" title="Webwinkel" target="_blank" class="mfl-tile mfl-orange"> 
		    	<i class="icon mdi mdi-cart"></i> 
				<span class="tile-label">Store</span>
			</a>
			
			<!-- Email -->
			<a href="https://email.sintgabriel.nl" title="Applicatie voor het maken van nieuwsbrieven" target="_blank" class="mfl-tile mfl-orange"> 
		    	<i class="icon mdi mdi-email"></i> 
				<span class="tile-label">Email</span>
			</a>
			
			<!-- Drive -->
			<a href="https://drive.sintgabriel.nl" title="Applicatie voor het opslaan van bestanden" target="_blank" class="mfl-tile mfl-orange"> 
		    	<i class="icon mdi mdi-file"></i>
				<span class="tile-label">Drive</span>
			</a>
		</div>
	</div>
</div>             


<div class="position-relative overflow-hidden p-3 p-md-1 m-md-2 text-left">
  	<div class="card">
  		<div class="card-body">
  			<h5>Aankomende events</h5>
  			
  			<table id="datatable" class="table table-striped table-bordered" cellspacing="0">
                <thead>
                <tr>
                    <th>Event</th>
                    <th>Datum</th>
                    <th>Tijd</th>
                    <th>Locatie</th>
                    <th>Status</th>
                    <th>Categorie</th>
                </tr>
                </thead>
                <tbody>
                {% for profile in events %}
                    <tr>
                        <td><a href="{{ path('app_event', {'id': profile.id}) }}">{{ profile.about }}</a></td>
                        <td>{{ profile.startDate | date('d-m-Y') }}</td>
                        <td>{{ profile.startTime | date('H:i') }} - {{ profile.endTime | date('H:i') }}</td>
                        <td>{{ profile.location.venue }}</td>
                        <td>
							{% if profile.eventStatus == 'Bevestigd'  %}    
						        <span class="badge badge-info">Bevestigd</span>
						    {% endif %}
						    {% if profile.eventStatus == 'Voorlopig'  %}    
						        <span class="badge badge-info">Voorlopig</span>
						    {% endif %}
						    {% if profile.eventStatus == 'Geannuleerd'  %}    
						        <span class="badge badge-info">Geannuleerd</span>
						    {% endif %}
						</td>
                        <td>{% for profile in profile.category %}<span class="badge badge-info">{{ profile.name }}</span> {% endfor %}</td>
                    </tr>                                               
                {% endfor %}
                </tbody>
            </table>

		</div>
	</div>
</div>  

<div class="position-relative overflow-hidden p-3 p-md-1 m-md-2 text-left">
  	<div class="card">
  		<div class="card-body">
	  		<div class="row">
			    <div class="col-sm">
			      	<h5>Mijn gegevens</h5>
			    </div>
			    <div class="col-sm">
			      	<a class="btn btn-info btn-sm float-right" href="#" role="button"><i class="mdi mdi-pencil"></i></a>
			    </div>
			</div>
  			<br>
  			<table class="table table-bordered table-striped">   
			            <tbody>
				            <tr>
				                <td width="20%"><b>Naam</b></td>
				                <td width="70%">{{ profile.familyName }}, {{profile.givenName }} {{ profile.additionalName }}</td>
				            </tr>
				            <tr>
				                <td><b>Geboortedatum</b></td>
				                <td>{{ profile.birthDate ? profile.birthDate | date('d-m-Y') }}</td>
				            </tr>
				            <tr>
				                <td><b>Geslacht</b></td>
				                <td>{{profile.gender}}</td>
				            </tr>
				            <tr>
				                <td><b>Email</b></td>
				                <td><a href="mailto:{{profile.email}}" target="_blank">{{profile.email}}</a></td>
				            </tr>
				            <tr>
				                <td><b>Telefoon</b></td>
				                <td>{{profile.telephone}}</td>
				            </tr>
				            <tr>
				                <td><b>Mobiel</b></td>
				                <td>{{profile.telephone2}}</td>
				            </tr>
			
				            <tr>
				                <td><b>Straat</b></td>
				                <td>{{profile.streetAddress}}</td>
				            </tr>
				            <tr>
				                <td><b>Postcode</b></td>
				                <td>{{profile.postalCode}}</td>
				            </tr>
				            <tr>
				                <td><b>Woonplaats</b></td>
				                <td>{{profile.addressLocality}}</td>
				            </tr>
				            <tr>
				                <td><b>Land</b></td>
				                <td>{{profile.addressCountry}}</td>
				            </tr>
			            </tbody>
			        </table>  
		</div>
	</div>
</div>                       
{% endblock %}

{% block javascripts %}

	{{ parent() }}
	
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#profiletable-buttons').dataTable({
                lengthChange: false,
                "pageLength": 50,
                "columnDefs": [
				    { "orderable": true, "targets": 0 }
				  ],
                "order": [[ 1, "asc" ]],
            });
        });
    </script>
    
{% endblock %}