{% extends 'base.html.twig' %}

{% block title %}<i class="mdi mdi-domain"></i> Organisaties{% endblock %}


{% block body %}

 	{{ form_start(form) }}
	<div class="row align-items-center">
        <div class="col">
	        {% if 'create' in app.request.uri  %}
	       		<h2>Organisatie toevoegen</h2>
	        {% endif %}
	        {% if 'edit' in app.request.uri  %}
	       		<h2>{{ data.legalName }} - Bewerken</h2>
	        {% endif %}
	        
        </div>
        
        <div class="col-4  ">
	        <div class="btn-group float-right">
	        	<button type="submit" class="btn btn-purple waves-effect"><i class="fa fa-save"></i>  Opslaan</button>
	        	{% if 'create' in app.request.uri  %}
	       			<a href="{{ path('app_organizations') }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
		        {% endif %}
		        {% if 'edit' in app.request.uri  %}
		       		<a href="{{ path('app_organization', {'id': data.id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
		        {% endif %}
	        </div>
        </div>
        
	</div>
	
    <!-- Card Box -->
    <div class="card-box table-responsive">
       
       <div class="row">
	        <div class="col-12">
				{{ form_label(form.legalName) }}
				{{ form_widget(form.legalName) }}
	        </div>
	    </div>
	    <br>
	    <div class="row">
	        <div class="col-12">
				{{ form_label(form.description) }}
				{{ form_widget(form.description) }}
	        </div>
	    </div>
	    <br>
	    
		<div class="row">
		    <div class="col-12">
			    {{ form_label(form.email) }}
				{{ form_errors(form.email) }}
				{{ form_widget(form.email) }}
		    </div>
	    </div>
	    <br>
	    <div class="row">
		    <div class="col-12">
			    {{ form_label(form.url) }}
				{{ form_errors(form.url) }}
				{{ form_widget(form.url) }}
		    </div>
	    </div>
	    <br>
	    <div class="row">
	        <div class="col-6">
				{{ form_label(form.telephone) }}
				{{ form_errors(form.telephone) }}
				{{ form_widget(form.telephone) }}
	        </div>
	        
	        <div class="col-6">
		       {{ form_label(form.telephone_2) }}
			   {{ form_errors(form.telephone_2) }}
			   {{ form_widget(form.telephone_2) }}
	        </div>
	    </div>
	    <br>
	    <div class="row">
		    <div class="col-12">
			    {{ form_label(form.streetAddress) }}
				{{ form_errors(form.streetAddress) }}
				{{ form_widget(form.streetAddress) }}
		    </div>
	    </div>
	    <br>
	    <div class="row">
	        <div class="col-6">
				{{ form_label(form.postOfficeBoxNumber) }}
				{{ form_errors(form.postOfficeBoxNumber) }}
				{{ form_widget(form.postOfficeBoxNumber) }}
	        </div>
	        
	        <div class="col-6">
		       {{ form_label(form.postalCode) }}
			   {{ form_errors(form.postalCode) }}
			   {{ form_widget(form.postalCode) }}
	        </div>
	    </div>
	    <br>
	    <div class="row">
	        <div class="col-6">
				{{ form_label(form.addressLocality) }}
				{{ form_errors(form.addressLocality) }}
				{{ form_widget(form.addressLocality) }}
	        </div>
	        
	        <div class="col-6">
		       {{ form_label(form.addressCountry) }}
			   {{ form_errors(form.addressCountry) }}
			   {{ form_widget(form.addressCountry) }}
	        </div>
	    </div>
	    <br>
	    <div class="row">
	        <div class="col-6">
				{{ form_label(form.leiCode) }}
				{{ form_errors(form.leiCode) }}
				{{ form_widget(form.leiCode) }}
	        </div>
	        
	        <div class="col-6">
		       {{ form_label(form.vatID) }}
			   {{ form_errors(form.vatID) }}
			   {{ form_widget(form.vatID) }}
	        </div>
	    </div>
		<br>
	    <div class="row">
		    <div class="col-12">
			    {{ form_label(form.categorie) }}
				{{ form_errors(form.categorie) }}
				{{ form_widget(form.categorie) }}
		    </div>
	    </div>
	    
		{{ form_end(form) }}
			   
    </div>
    
{% endblock %}