{% extends 'base.html.twig' %}

{% block stylesheets %}
	
{{ parent() }}

	<!-- DataTables -->
    <link href="{{ asset('assets/plugins/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    
    
    <style>
	.card-drop {
	    color: $muted;
	    font-size: 20px !important;
	    height: 0px !important;
	    line-height: 22px !important;
	    display: inline-block;
	}
	</style>

{% endblock %}

{% block title %}<i class="mdi mdi-domain"></i> Organisatie{% endblock %}


{% block body %}
	<div class="row align-items-center">
        <div class="col">
	        <h2>{{ data.legalName }}&nbsp;<span class="badge badge-purple">{{ data.category.name }}</span></h2>
        </div>
        
        <div class="col-4  ">
	        <div class="btn-group float-right">
	        	{% if is_granted('ROLE_ORGANIZATION_EDIT') %}
	        	<a href="{{ path('app_organization_edit', {'id': data.id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-pencil"></i>  Bewerken</a>
	        	{% endif %}
	        	{% if is_granted('ROLE_ORGANIZATION_DELETE') %}
	        	<a href="{{ path('app_organization_delete', {'id': data.id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-trash"></i>  Delete</a>
	        	{% endif %}
				<a href="{{ path('app_organizations') }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
	        </div>
        </div>
        
	</div>
	
    <!-- Card Box -->
    <div id="accordion">
		<div class="card">
	        <div class="card-header" id="headingOne">
	            <h4 class="m-0">
	                <a href="#collapseOne" class="text-dark" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
	                    Organisatiegegevens
	                </a>
	            </h4>
	        </div>
	
	        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
	            <div class="card-body">
	                <table class="table table-bordered table-striped">   
			            <tbody>
				            <tr>
				                <td width="20%"><b>Naam</b></td>
				                <td width="70%">{{ data.legalName }}</td>
				            </tr>
				            <tr>
				                <td><b>Omschrijving</b></td>
				                <td>{{data.description }}</td>
				            </tr>
				            <tr>
				                <td><b>K.v.K. Nummer</b></td>
				                <td>{{data.leiCode}}</td>
				            </tr>
				            <tr>
				                <td><b>Belasting Nummer</b></td>
				                <td>{{data.vatID}}</td>
				            </tr>
				            <tr>
				                <td><b>Email</b></td>
				                <td><a href="mailto:{{data.email}}" target="_blank">{{data.email}}</a></td>
				            </tr>
				            <tr>
				                <td><b>Telefoon</b></td>
				                <td>{{data.telephone}}</td>
				            </tr>
				            <tr>
				                <td><b>Mobiel</b></td>
				                <td>{{data.telephone2}}</td>
				            </tr>
				            <tr>
				                <td><b>Website</b></td>
				                <td><a href="{{data.url}}" target="_blank">{{data.url}}</a></td>
				            </tr>
				            <tr>
				                <td><b>Straat</b></td>
				                <td>{{data.streetAddress}}</td>
				            </tr>
				            <tr>
				                <td><b>Postbus</b></td>
				                <td>{{data.postOfficeBoxNumber}}</td>
				            </tr>
				            <tr>
				                <td><b>Postcode</b></td>
				                <td>{{data.postalCode}}</td>
				            </tr>
				            <tr>
				                <td><b>Woonplaats</b></td>
				                <td>{{data.addressLocality}}</td>
				            </tr>
				            <tr>
				                <td><b>Land</b></td>
				                <td>{{data.addressCountry}}</td>
				            </tr>
			            </tbody>
			        </table>
	            </div>
	        </div>
	    </div>
	</div>

    <br>
    
    <!-- Details -->
    
    <ul class="nav nav-tabs nav-justified">
    	
    	<li class="nav-item">
            <a href="#reviews" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_organization' ? 'active' }}">
                Notities
            </a>
        </li>
        <li class="nav-item">
            <a href="#employees" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_organization_employee' ? 'active' }}">
                Medewerkers
            </a>
        </li>
        <li class="nav-item">
            <a href="#products" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_organization_owns' ? 'active' }}">
                Inventaris
            </a>
        </li> 
    </ul>
		   
	<div class="card-box tab-content">

	    	
	    	<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_organization' ? 'show active' }}" id="reviews">
			
				{{ include('Review/reviews.html.twig', { 
					'data': data, 
				}) }}
				
			</div>
			
			<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_organization_employee' ? 'show active' }}" id="employees">
        
				    {{ include('employee/employee.html.twig', { 
					'data': data })
				}}   
	        
    		</div>
    		
    		<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_organization_owns' ? 'show active' }}" id="products">
        
				{{ include('owns/owns.html.twig', { 
					'data': data })
				}}             
	        
    		</div>
	    </div>


{% endblock %}