{% extends 'base.html.twig' %}


{% block stylesheets %}

	<!-- DataTables -->
    <link href="{{ asset('assets/plugins/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    
    {{ parent() }}
    
{% endblock %}       
        

{% block title %}<i class="mdi mdi-account-key"></i> Gebruikers{% endblock %}


{% block body %}

<div class="row align-items-center">
        <div class="col">
	        <h2>Gebruikers</h2>
        </div>
        
        <div class="col-4  ">
	        <div class="btn-group float-right">
	        	<a href="{{ path('app_user_create') }}" class="btn btn-purple waves-effect"><i class="fa fa-plus"></i>  Nieuw</a>
	        </div>
        </div>
        
	</div>
	
	
	<div class="row">
        <div class="col-12">
            <div class="card-box table-responsive">
	            
	            <table id="datatable" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Persoon</th>
                        <th>Gebruikersnaam</th>
                        <th>Weergavenaam</th>
                    </tr>
                    </thead>


                    <tbody>
                    {% for data in data %}
						<tr>
						    <td style="padding-bottom: 0px;">
							    <a href="{{ path('app_user_edit', {'id': data.id}) }}" class="waves-effect">
							    	{{ data.person.familyName }}, {{ data.person.givenName }} {{ data.person.additionalName }}
							    	<!-- Dropdown -->
								    <div class="dropdown pull-right">
	                                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
	                                        <i class="mdi mdi-dots-horizontal"></i>
	                                    </a>
	                                    
	                                    <div class="dropdown-menu dropdown-menu-right">
	                                        <!-- item-->
	                                        <a href="{{ path('app_user_edit', {'id': data.id}) }}" class="dropdown-item">Bewerken</a>
	                                        <!-- item-->
	                                        <a href="{{ path('app_user_delete', {'id': data.id}) }}" class="dropdown-item">Verwijderen</a>
	                                    </div>
	                                </div>
	                               
							    </a>
							    
						    </td>
						    <td>{{ data.username }}</td>
						    <td>{{ data.displayName }}</td>
						</tr>

					{% endfor %}
                    
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
    <!-- end row -->

{% endblock %}

{% block javascripts %}

	{{ parent() }}

    <!-- Required datatable js -->

    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>
    
    <!-- Buttons examples -->
    <script src="{{ asset('assets/plugins/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.print.min.js') }}"></script>
    

    <!-- Key Tables -->
    <script src="{{ asset('assets/plugins/datatables/dataTables.keyTable.min.js') }}"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            // Default Datatable
            $('#datatable').DataTable();

            //Buttons examples
            var table = $('#datatable-buttons').DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf']
            });

            // Key Tables

            $('#key-table').DataTable({
                keys: true
            });

            // Responsive Datatable
            $('#responsive-datatable').DataTable();

            // Multi Selection Datatable
            $('#selection-datatable').DataTable({
                select: {
                    style: 'multi'
                }
            });

            table.buttons().container()
                .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
        });
    </script>
    
{% endblock %}