{% extends 'base.html.twig' %}

{% block stylesheets %}
	
{{ parent() }}

	<!-- DataTables -->
    <link href="{{ asset('assets/plugins/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    
    
    <style>
	.card-drop {
	    color: $muted;
	    font-size: 20px !important;
	    height: 0px !important;
	    line-height: 22px !important;
	    display: inline-block;
	}
	</style>

{% endblock %}

{% block title %}<i class="mdi mdi-calendar-clock"></i> Events{% endblock %}


{% block body %}
	<div class="row align-items-center">
        <div class="col">
	        <h2>{{ data.about }}
	        	{% for data in data.category %}
			    	<span class="badge badge-purple">{{ data.name }}</span>
			    {% endfor %}
		        
		    </h2>
        </div>
        
        <div class="col-4  ">
	        <div class="btn-group float-right">
	        	{% if is_granted('ROLE_EVENT_EDIT') %}
	        	<a href="{{ path('app_event_edit', {'id': data.id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-pencil"></i>  Bewerken</a>
	        	{% endif %}
	        	{% if is_granted('ROLE_EVENT_DELETE') %}
	        	<a href="{{ path('app_event_delete', {'id': data.id}) }}" class="btn btn-purple waves-effect"><i class="fa fa-trash"></i>  Delete</a>
	        	{% endif %}
				<a href="{{ path('app_events') }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
	        </div>
        </div>
        
	</div>
	
	<!-- Person details -->
	<div id="accordion">
		<div class="card">
	        <div class="card-header" id="headingOne">
	            <h4 class="m-0">
	                <a href="#collapseOne" class="text-dark" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
	                    Eventgegevens
	                </a>
	            </h4>
	        </div>
	
	        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
	            <div class="card-body">
	                <table class="table table-bordered table-striped">   
			            <tbody>
				            <tr>
				                <td width="20%"><b>Event</b></td>
				                <td width="70%">{{ data.about }}</td>
				            </tr>
				            <tr>
				                <td><b>Omschrijving</b></td>
				                <td>{{ data.description }}</td>
				            </tr>
				            <tr>
				                <td><b>Begindatum</b></td>
				                <td>{{ data.startDate | date('d-m-Y') }}</td>
				            </tr>
				            <tr>
				                <td><b>Einddatum</b></td>
				                <td>{{ data.endDate | date('d-m-Y') }}</td>
				            </tr>
				            {% if data.doorTime is not null  %}
				            <tr>
				                <td><b>Aanvang</b></td>
				                <td>{{ data.doorTime | date('H:i') }}</td>	
				            </tr>
				            {% endif %}  
				            <tr>
				                <td><b>Begintijd</b></td>
				                <td>{{ data.startTime | date('H:i') }}</td>
				            </tr>
				            <tr>
				                <td><b>Eindtijd</b></td>
				                <td>{{ data.endTime | date('H:i') }}</td>
				            </tr>
				            <tr>
				                <td><b>Status</b></td>
				                <td>
					                {% if data.eventStatus == 'Bevestigd'  %}    
								        <span class="badge badge-purple">Bevestigd</span>
								    {% endif %}
								    {% if data.eventStatus == 'Voorlopig'  %}    
								        <span class="badge badge-pink">Voorlopig</span>
								    {% endif %}
								    {% if data.eventStatus == 'Geannuleerd'  %}    
								        <span class="badge badge-inverse">Geannuleerd</span>
								    {% endif %}
							    </td>
				            </tr>
				            <tr>
				                <td><b>Locatie</b></td>
				                <td>{{ data.location.venue }}</td>
				            </tr>
				            <tr>
				                <td><b>Straat</b></td>
				                <td>{{ data.location.streetaddress }}</td>
				            </tr>
				            <tr>
				                <td><b>Postcode</b></td>
				                <td>{{ data.location.postalcode }}</td>
				            </tr>
				            <tr>
				                <td><b>Plaats</b></td>
				                <td>{{ data.location.addressLocality }}</td>
				            </tr>
				        {% if data.isAccessibleForFree  %}
				            <tr>
				                <td><b>Betaalde entree</b></td>
				                <td><i class="mdi mdi-check-circle"></i></td>
				            </tr>
				            <tr>
				                <td><b>Tickets totaal</b></td>
				                <td>{{ data.maximumAttendeeCapacity }}</td>
				            </tr>
				            <tr>
				                <td><b>Tickets beschikbaar</b></td>
				                <td>{{ data.remainingAttendeeCapacity }}</td>
				            </tr>
				        {% endif %}
				            
				        </tbody>
			        </table>   
	            </div>
	        </div>
	    </div>
	</div>

    <br>
	
	<!-- Details -->
    
    <ul class="nav nav-tabs nav-justified">
	    
	    <li class="nav-item">
            <a href="#reviews" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_event' ? 'active' }}">
                Notities
            </a>
        </li>
	    
	    <li class="nav-item">
            <a href="#parents" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_event_organizer' ? 'active' }}">
                Organisator
            </a>
        </li>
        
        <li class="nav-item">
            <a href="#membership" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_event_performer' ? 'active' }}">
                Performers
            </a>
        </li>
        
        <li class="nav-item">
            <a href="#education" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_event_suppliers' ? 'active' }}">
                Leveranciers
            </a>
        </li>
        
        <li class="nav-item">
            <a href="#roles" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_event_sponsor' ? 'active' }}">
                Sponsoren
            </a>
        </li>

        <li class="nav-item">
            <a href="#products" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_event_contributor' ? 'active' }}">
                Medewerkers
            </a>
        </li>
        
        <li class="nav-item">
            <a href="#services" data-toggle="tab" aria-expanded="true" class="nav-link {{ app.request.get('_route') == 'app_event_attendee' ? 'active' }}">
                Publiek
            </a>
        </li>
        
    </ul>
	    
	<div class="card-box tab-content">
	    	<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_event' ? 'show active' }}" id="reviews">				
				{{ include('review/reviews.html.twig', { 
					'data': data
				}) }}
			</div>
			<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_event_organizer' ? 'show active' }}" id="parents">
				{{ include('organizer/organizer.html.twig', { 
					'data': data
				}) }}
    		</div>    		
			<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_event_performer' ? 'show active' }}" id="membership">
                {{ include('performer/performer.html.twig', { 
					'data': data
				}) }}
    		</div>  		
    		<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_event_suppliers' ? 'show active' }}" id="education">
				{{ include('suppliers/suppliers.html.twig', { 
					'data': data
				}) }}
    		</div>	
    		<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_event_sponsor' ? 'show active' }}" id="roles">
				{{ include('sponsor/sponsor.html.twig', { 
					'data': data
				}) }}
    		</div>   		
    		<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_event_contributor' ? 'show active' }}" id="products">
              {{ include('contributor/contributor.html.twig', { 
					'data': data
				}) }}       
    		</div>	
    		<div role="tabpanel" class="tab-pane fade {{ app.request.get('_route') == 'app_event_attendee' ? 'show active' }} " id="services">
				{{ include('attendee/attendee.html.twig', { 
					'data': data
				}) }}          
    		</div>	
	    </div>
{% endblock %}