{% extends 'base.html.twig' %}


{% block stylesheets %}
	
	<link href="{{ asset('assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" rel="stylesheet" type="text/css"/>
	
{{ parent() }}

	<!-- DataTables -->
    <link href="{{ asset('assets/plugins/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    
    
    <style>
	.hide {
    	display:none; 
	}
	
	.card-drop {
	    color: $muted;
	    font-size: 18px !important;
	    height: 0px !important;
	    line-height: 0px !important;
	    display: inline-block;
	}
	</style>
    
    
    
    
    
{% endblock %}       
        

{% block title %}<i class="mdi mdi-calendar-clock"></i> Events{% endblock %}


{% block body %}

<div class="row align-items-center">
        <div class="col">
	        <h2>Events</h2>
        </div>
        
        <div class="col-4  ">
        {% if is_granted('ROLE_EVENT_CREATE') %}
	        <div class="btn-group float-right">
	        	<a href="{{ path('app_event_create') }}" class="btn btn-purple waves-effect"><i class="fa fa-plus"></i>  Nieuw</a>
	        </div>
	    {% endif %} 
        </div>
        
	</div>
	

	<ul class="nav nav-tabs nav-justified"> 
		<li class="nav-item">
            <a href="{{ path('app_events', {'query': 'all'}) }}" data-toggle="link" aria-expanded="true" class="nav-link {% if query == 'all' %}active {% endif %}">
                Alle events
            </a>
        </li>
		
		{% for data in category %}
	    <li class="nav-item">
            <a href="{{ path('app_events', {'query': data.id}) }}" data-toggle="link" aria-expanded="true" class="nav-link {% if query == data.id %}active {% endif %}">
                {{ data.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    

	<div class="row">
        <div class="col-12">
            <div class="card-box table-responsive">
            
				<!-- Date Filter -->
            	<form method="get">


															
					<div class="col-md-4">
						<div class="input-group input-group-sm mb-3 input-daterange" id="date-range">
							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroup-sizing-sm">Van:</span>
					  		</div>
					  		<input type="text" class="form-control" id="datepicker-autoclose" name="startDate" value="{{ startDate | date('Y-m-d') }}">
					  		<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroup-sizing-sm">Tot:</span>
					  		</div>
					  		<input type="text" class="form-control" id="datepicker-autoclose2" name="endDate" value="{{ endDate | date('Y-m-d') }}">
					  		<div class="input-group-append">
								<button type="submit" class="btn btn-dark btn-sm">Filter</button>
					  		</div>
						</div>
					</div>	

				</form>
	            <hr>
	            
	            <!-- DataTable -->
	            <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                    <tr>
                    	<th></th>
                        <th>Event</th>                       
                        <th>Datum</th>
                        <th>Tijd</th>
                        <th>Locatie</th>
                        <th>Status</th>
						<th>Categorie</th>
                    </tr>
                    </thead>


                    <tbody>
                    {% for data in data %}
						<tr>
							<td align="center" valign="bottom" width="20">
								<!-- Dropdown -->
						    	{% if is_granted('ROLE_EVENT_EDIT') or is_granted('ROLE_EVENT_DELETE') %}
							    <div class="dropdown">
                                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                        <i class="mdi mdi-dots-horizontal"></i>
                                    </a>
                                    
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <!-- item-->
                                        {% if is_granted('ROLE_EVENT_EDIT') %}
                                        <a href="{{ path('app_event_edit', {'id': data.id}) }}" class="dropdown-item"><i class="mdi mdi-pencil"></i> Bewerken</a>
                                        {% endif %}
                                        <!-- item-->
                                        {% if is_granted('ROLE_EVENT_CREATE') %}
                                        <a href="{{ path('app_event_clone', {'id': data.id}) }}" class="dropdown-item"><i class="mdi mdi-calendar-multiple"></i> Kopiëren</a>
                                        {% endif %}
                                        <!-- item-->
                                        {% if is_granted('ROLE_EVENT_DELETE') %}
                                        <a href="{{ path('app_event_delete', {'id': data.id}) }}" class="dropdown-item"><i class="mdi mdi-delete text-danger"></i> Verwijderen</a>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                                <!-- End Dropdown -->
							</td>
							
						    <td style="padding-bottom: 0px;">
							    <a href="{{ path('app_event', {'id': data.id}) }}" class="waves-effect">{{ data.about }}</a> 
						    </td>
						    
						    
						    
						    <td>{{ data.startDate | date('Y/m/d') }}</td>
						    <td>{{ data.startTime | date('H:i') }} - {{ data.endTime | date('H:i') }}</td>
						    <td>
						    	{{ data.location.venue }}
							</td>
							<td>
								{% if data.eventStatus == 'Bevestigd'  %}    
							        <span class="badge badge-purple">Bevestigd</span>
							    {% endif %}
							    {% if data.eventStatus == 'Voorlopig'  %}    
							        <span class="badge badge-pink">Voorlopig</span>
							    {% endif %}
							    {% if data.eventStatus == 'Geannuleerd'  %}    
							        <span class="badge badge-inverse">Geannuleerd</span>
							    {% endif %}
							</td>
						    
						    <td>{% for data in data.category %}<span class="badge badge-purple">{{ data.name }}</span> {% endfor %}</td>
						</tr>

					{% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div> 
    <!-- end row -->

{% endblock %}

{% block javascripts %}

	{{ parent() }}

    <!-- Required datatable js -->

    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>
    
    <!-- Buttons examples -->
    <script src="{{ asset('assets/plugins/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    
    
    

    <!-- Key Tables -->
    <script src="{{ asset('assets/plugins/datatables/dataTables.keyTable.min.js') }}"></script>


    <script type="text/javascript">
       $(document).ready(function () {

                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    "columnDefs": [
					    { "orderable": false, "targets": 0 }
					  ],
                    "order": [[ 2, "asc" ]],
                    buttons: [
	                    {
			                extend: 'csv',
			                exportOptions: {
			                    columns: [ 1, 2, 3, 4 ]
			                }
		                },
	                    {
			                extend: 'print',
			                exportOptions: {
			                    columns: [ 1, 2, 3, 4 ]
			                }
		                },
	                    {
			                extend: 'pdfHtml5',
			                exportOptions: {
			                    columns: [ 1, 2, 3, 4 ]
							}
						}] 
                });

                table.buttons().container()
                    .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });
           
            
            jQuery('#date-range').datepicker({
            format: 'yyyy-mm-dd',
            clearBtn: true,
            toggleActive: true
        });
    </script>
    
    {% endblock %}