{% extends 'base.html.twig' %}

{% block title %}<i class="mdi mdi-calendar-clock"></i> Events{% endblock %}

{% block stylesheets %}

	<link href="{{ asset('assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/plugins/select2/css/select2.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/timepicker/bootstrap-timepicker.min.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset('assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}" rel="stylesheet" type="text/css"/>
	<link href="{{ asset('assets/plugins/switchery/switchery.min.css') }}" rel="stylesheet" type="text/css"/>
	
	{{ parent() }}
	        
{% endblock %}


{% block body %}

 	{{ form_start(form) }}
	
	<div class="row align-items-center">
        <div class="col">
	        {% if 'create' in app.request.uri  %}
	       		<h2>Event toevoegen</h2>
	        {% endif %}
	        {% if 'edit' in app.request.uri  %}
	       		<h2>{{ data.about }} - bewerken</h2>
	        {% endif %}
        </div>
        
        <div class="col-4  ">
	        <div class="btn-group float-right">
	        	<button type="submit" class="btn btn-purple waves-effect"><i class="fa fa-save"></i>  Opslaan</button>
	        	
	        	{% if 'create' in app.request.uri  %}
	       			<a href="{{ path('app_events') }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
		        {% endif %}
		        {% if 'edit' in app.request.uri  %}
		       		<a href="{{ path('app_event', {'id': data.id }) }}" class="btn btn-purple waves-effect"><i class="fa fa-times"></i>  Sluiten</a>
		        {% endif %}
	        	
	        </div>
        </div>
        
	</div>
	
    <!-- Card Box -->
    <div class="card-box table-responsive">
	    <div class="row">
		    <div class="col-12">
			    {{ form_label(form.about) }}
				{{ form_widget(form.about) }}
		    </div>
	    </div>
	    <br>
	    <div class="row">
		    <div class="col-12">
			    {{ form_label(form.description) }}
				{{ form_widget(form.description) }}
		    </div>
	    </div>
	    </br>
	    <div class="row">
		    <div class="col-12">
			    {{ form_label(form.category) }}
				{{ form_widget(form.category) }}
		    </div>
	    </div>
	</div>                                       
	
	<!-- Card Box -->
	<div class="card-box table-responsive">
	
		<div class="row">
		    <div class="col-12">
		    	{{ form_label(form.startDate) }}
		    		<div class="input-daterange input-group" id="date-range">
						{{ form_widget(form.startDate) }}	
						{{ form_widget(form.endDate) }}	  
				   </div>   
		    </div>
	    </div>

	    <br>
	    
	    <div class="row">
		    <div class="col-4">
			    {{ form_label(form.doorTime) }}
			    
			    <div class="input-group">
					{{ form_widget(form.doorTime, {'id': 'timepicker2'}) }}
					<div class="input-group-append">
                        <span class="input-group-text"><i class="ti-time"></i></span>
                    </div>
                </div>
		    </div>
		    
		    <div class="col-4">
			    {{ form_label(form.startTime) }}
			    
			    <div class="input-group">
					{{ form_widget(form.startTime, {'id': 'timepicker3'}) }}
					<div class="input-group-append">
                        <span class="input-group-text"><i class="ti-time"></i></span>
                    </div>
                </div>
		    </div>
		    <div class="col-4">
			    {{ form_label(form.endTime) }}
			    
			    <div class="input-group">
					{{ form_widget(form.endTime, {'id': 'timepicker4'}) }}
					<div class="input-group-append">
                        <span class="input-group-text"><i class="ti-time"></i></span>
                    </div>
                </div>
		    </div>
	    </div>
		
		<br>    
		
		<div class="row">
		    <div class="col-12">
			    {{ form_label(form.eventStatus) }}
			    
			    <div class="input-group">
					{{ form_widget(form.eventStatus) }}
				</div>
		    </div>
	    </div>	    
	</div>

	
	<!-- Card Box -->
	<div class="card-box table-responsive">
	<div class="row">
		    <div class="col-12">
			    {{ form_label(form.location) }}
				{{ form_widget(form.location) }}
		    </div>
	    </div>
	</div>
	

	<div class="card-box table-responsive">
	
		<div class="row">
			    <div class="col-12">
				    {{ form_label(form.isAccessibleForFree) }}
					{{ form_widget(form.isAccessibleForFree) }}
			    </div>
		    </div>
		    <br>
		    <div class="row">
			    <div class="col-6">
				    {{ form_label(form.maximumAttendeeCapacity) }}
					{{ form_widget(form.maximumAttendeeCapacity, {'id': 'demo0', 'attr': {'data-bts-min': 0}})  }}
			    </div>
			    <div class="col-6">
				    {{ form_label(form.remainingAttendeeCapacity) }}
					{{ form_widget(form.remainingAttendeeCapacity, {'id': 'demo0', 'attr': {'data-bts-min': 0}}) }}
			    </div>
		    </div>
		</div>
	</div>	

     
    {{ form_end(form) }} 

{% endblock %}

{% block javascripts %}

	<script type="text/javascript" src="{{ asset('assets/plugins/switchery/switchery.min.js') }}"></script>
	
	{{ parent() }}
	
	<script type="text/javascript" src="{{ asset('assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    
    <script type="text/javascript" src="{{ asset('assets/plugins/select2/js/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/timepicker/bootstrap-timepicker.min.js') }}"></script>
    
	<script type="text/javascript">
	    $(document).ready(function(){
		    
		    
	        //advance multiselect start
                $('#my_multi_select3').multiSelect({
                    selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
                    selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
                    afterInit: function (ms) {
                        var that = this,
                                $selectableSearch = that.$selectableUl.prev(),
                                $selectionSearch = that.$selectionUl.prev(),
                                selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                                selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                        that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                                .on('keydown', function (e) {
                                    if (e.which === 40) {
                                        that.$selectableUl.focus();
                                        return false;
                                    }
                                });

                        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                                .on('keydown', function (e) {
                                    if (e.which == 40) {
                                        that.$selectionUl.focus();
                                        return false;
                                    }
                                });
                    },
                    afterSelect: function () {
                        this.qs1.cache();
                        this.qs2.cache();
                    },
                    afterDeselect: function () {
                        this.qs1.cache();
                        this.qs2.cache();
                    }
                });

                // Select2
                $(".select2").select2();

                $(".select2-limiting").select2({
                    maximumSelectionLength: 2
                });
	        
	        
	        //Touchspin
	        $(".vertical-spin").TouchSpin({
                verticalbuttons: true,
                buttondown_class: "btn btn-primary",
                buttonup_class: "btn btn-primary",
                verticalupclass: 'ti-plus',
                verticaldownclass: 'ti-minus'
            });
            var vspinTrue = $(".vertical-spin").TouchSpin({
                verticalbuttons: true
            });
            if (vspinTrue) {
                $('.vertical-spin').prev('.bootstrap-touchspin-prefix').remove();
            }

            $("input[name='event_form[maximumAttendeeCapacity]']").TouchSpin({
                buttondown_class: "btn btn-purple",
                buttonup_class: "btn btn-purple"
            }); 
	        
	        
	        
	        //Touchspin
	        $(".vertical-spin").TouchSpin({
                verticalbuttons: true,
                buttondown_class: "btn btn-primary",
                buttonup_class: "btn btn-primary",
                verticalupclass: 'ti-plus',
                verticaldownclass: 'ti-minus'
            });
            var vspinTrue = $(".vertical-spin").TouchSpin({
                verticalbuttons: true
            });
            if (vspinTrue) {
                $('.vertical-spin').prev('.bootstrap-touchspin-prefix').remove();
            }

            $("input[name='event_form[remainingAttendeeCapacity]']").TouchSpin({
                buttondown_class: "btn btn-purple",
                buttonup_class: "btn btn-purple"
            });  
            
            
            
	    });
	    
	    jQuery('#date-range').datepicker({
            format: 'yyyy-mm-dd',
            clearBtn: true,
            toggleActive: true
        });
        jQuery('#date-range2').datepicker({
            format: 'yyyy-mm-dd',
            clearBtn: true,
            toggleActive: true
        });
                    
        jQuery('#timepicker2').timepicker({
                showMeridian : false,
                icons: {
                    up: 'mdi mdi-chevron-up',
                    down: 'mdi mdi-chevron-down'
                },
                defaultTime: false
            });
        
        jQuery('#timepicker3').timepicker({
                showMeridian : false,
                icons: {
                    up: 'mdi mdi-chevron-up',
                    down: 'mdi mdi-chevron-down'
                }
            });
            
            
        jQuery('#timepicker4').timepicker({
                showMeridian : false,
                icons: {
                    up: 'mdi mdi-chevron-up',
                    down: 'mdi mdi-chevron-down'
                }
            });
	</script>
	
    
{% endblock %}